<span style='color: #000'>283 frames</span>	<span style='color: #900'>16,128 KB</span>	<span style='color: #090'>655.25 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />