/* custom css */
body {background:url('http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/06/bgConsultis.png') repeat-x;}

.carousel {height:auto;}

.desktopNav {
  padding: 0 70px;
  position: relative;
  top: -60px;
  width: 100%;
}
.menu.navbar-left a, .menu.navbar-right a { 
  padding: 5px 15px; 
  color: #222;
  font-size: 15px;}

.firstbox {
  margin-top: 250px;
}

.navbar-wrapper {
  position: relative; 
  margin-top:10px;
}

.silder1 {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/06/bannerImage1.png") !important;
    background-origin: padding-box !important;
    background-position: 0 27px !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    width: 100%;
}
.txMage > img {
  width: 188px !important;
  position: relative;
  top: -8px;
  left: 29%;
}

.center {
  color: #fff;
  padding: 10px;
  text-align: center;
}

.modal-title {
  font-size: 25px;
  line-height: 1.42857;
  margin: 14px 0 0;
}

.container-fluid.full-width.bordered {
  margin: 40px 0;
  padding: 40px 0;
}

.modal-content {text-align: center;}
.modalcircle {margin:0 auto; width:172px; height:172px;}

.div3 > h2 {
  margin-bottom: 34px;
}

.modal-dialog.modal-lg {
  top: 20%;
}

.div3 {text-align:left; height:100%;}
.botmargin {margin-bottom:40px;}
.buttonicon { color: #222222 !important; text-decoration:none; font-size:40px;}
.buttonicon:hover {color:#1dc6b4 !important}

.div3 a {
  color: #f17c11;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration:none;
}

.full-width .site-content .hentry.has-post-thumbnail:first-child {
    margin-top: 0;
}

.post-thumbnail {
  display: none;
}
.site-content {margin:0;}
.bluish:hover {
    background-color: #f17c11;
    color: #fff;
}

.site-content article {
  text-align: left;
}

.entry-header {
  display: block;
  max-width: 100% !important;
  text-align: left;
}

.aboutauthor > h3, .recentposter > h3 {
  margin-bottom: 22px;
  margin-top: 25px;
}

.entry-content {
    max-width: 100% !important;
    text-align:left;
}

.div3 a:hover {color:#09a191;}

.div3 > p {
  margin: 0 0 21px;
}

.buttonicon > i {
    font-size: 50px;
    margin: 0 5px;
    text-decoration:none;
}
.bordered {border-top:1px solid #ccc; border-bottom:1px solid #ccc;}

#colophon{background-color:#1dc6b4;}

#sample1.row {
    margin-top: 20px;
    padding-top: 0;
}
.contents {height:550px; text-align:left}
.contents img { margin: 31px 0;}
.bluish {background:#1dc6b4; position:absolute; bottom:0; left:12px; color:#fff;}

#navbar {
    background: none repeat scroll 0 0 rgba(243, 246, 250, 0.50);
    padding-bottom: 5px;
    padding-top: 5px;
}

.carousel .item {
    background-color: #777;
}
.navbar-inverse { background-color: transparent; border-color: transparent; }
nav.collapse li { border-radius: 5px;  margin: 0 13px;  text-align: center; width: 85px;}
nav.collapse li a, nav.collapsing li a{
    border-bottom: 3px solid transparent;
    color: #3a3a3a !important;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    transition: all 0.5s ease 0s;
    white-space: nowrap;
    width: 0;
}

.menu.navbar-left, .menu.navbar-right {
    border-bottom: 3px solid transparent;
    color: #3a3a3a !important;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    transition: all 0.5s ease 0s;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #6d9629 !important;
    color: #fff !important;
}


.btn.btn-lg.btn-primary:hover { background: none repeat scroll 0 0 #e67e22; border: 1px solid #e67e22; }

nav.collapse li a:hover, .menu.navbar-left a:hover, .menu.navbar-right a:hover {
    border-bottom: 3px solid #ff8a17;
    color: #ff8a17 !important;
    text-decoration: none;
    width: 200px;
}
#menu-front-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align:center;
}
#menu-front-menu li{
    display: inline;
    border-right:1px solid;
}

#menu-front-menu li:last-child {
  border:0;
}



.forcedown { margin-top:20px;}
.logo > h1 { display: block; letter-spacing: 2.3px; margin: 0 auto; position: absolute; text-align: center; width: 100%; color: #6d9629; }
.logo > img {
    display: block;
    margin: 0 auto;
    width:270px;
}

.logo > h1 > b { color: #e67e22;}
.carousel-caption {
    left: auto;
    padding-bottom: 30px;
    right: 0;
    top:60px;
    width: 650px;
    height:312px;
    background: transparent;
    opacity:0;
    transition:1s all ease;
    -webkit-transition:1s all ease;
    -o-transition:1s all ease;
    -moz-transition:1s all ease;
    text-shadow:0 0 0 !important;
}

.carousel-caption > h1 {
    color: #14b6a4;
    font-family: open sans;
    font-size: 30px;
    margin-left: 55px;
    margin-right: 55px;
    text-shadow: none;
    line-height: 1.2; 
    margin-top: 6px;
}

.btn-primary {
    background-color: #ff8a17;
    border-color: #ff8a17;
    color: #fff;
    width: 243px;
}

.greentext {
  color: #ff8a17;
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
}
.greentext:hover {color: #f17c11 !important; text-decoration:none;}
.subtitles {
  color: #4e4e4e;
  font-size: 16px !important;
  font-weight: 300;
  line-height: 1.2 !important;
  margin: 12px 48px !important;
  text-shadow: none;
}

.img-circle.topcircle {
    background-position:center center;
    background-image: url('http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/06/transparentC.png');
    background-size:160px;
    border-radius: 50%;
    color: #fff;
    height: 180px;
    left: 50%;
    margin-left:-88px;
    position: absolute;
    top: -90px;
    width: 180px;
    z-index: 9;
    background-color:#fff;
    background-repeat:no-repeat;
}

.row.contain {
    margin-bottom: 60px;
    margin-top: 100px;
}

.hexagon h5 { font-weight:300; font-size:18px;}


.hexagon:hover, .hexagon.hover { background-color: #ff8f1f; color:#fff;}

.bottoms {
    bottom: 56px;
    left: 20%;
    position: absolute;
    right: 20%;
    z-index: 9;
}

.hovering {
    background-color: #ff8f1f !important;
    border-color: #fff !important;
    color: #fff !important;
}
.blacked { color:#282828;}

.bgwhite {
  border:2px solid #E6E6E6 !important;
}

.hexagon {
    background: none repeat scroll 0 0 #f2f2f2;
    height: 475px;
    margin-top: -70px;
    position: relative;
    width: 100%;
    text-align:center;
    padding-left:12px;
    padding-right:12px;

}

.flexslider {background: transparent !important; border:0;}

.thumbers {
    background: transparent;
    height: 350px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    text-align:center;
    padding-left:4px;
    padding-right:4px;
    color:#737373;
}
.conr { height: 175px;}



.full-width { padding-left:0; padding-right:0;}
.img-circle.topcircle i {
    font-size: 50px;
    margin: 38px;
}
.hexagon {color: #282828;}
.hexagon p, .hexagon h2 { font-family:open sans;}
.hexagon h2 { margin-bottom: 20px; padding-top:120px;}

.btn-default {
    background-color: #ff8f1f;
    border-color: #fff;
    color: #fff;
    font-family: arial;
    font-size: 20px;
}

/*second sample*/

#sample2 {
    background-image: url("http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/05/bgSample2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sample2 .row {
    padding-bottom: 80px;
    padding-top: 100px;
}

.img { margin-top:25px;}
.img i {
    color: #2dab4f;
    font-size: 65px;
}

.boxer {
    color: #282828;
    font-family: open sans;
    height: 350px;
    border: 2px dashed #ccc;
    margin: 0 5px;
    padding: 0;
}

.img-circle.topcircle.bigC {
    background-position: 1px center;
    background-size: cover;
    border: medium none;
    display: block;
    height: 200px;
    left: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 0;
    width: 200px;
}

.col-lg-4.full-height {
    color: #282828;
    font-family: open sans;
    height: 420px;
    margin-top: 53px;
}

.s2 {background-color:#2dab4f; border:1px solid #2dab4f; padding-left:25px; padding-right:25px; text-transform:uppercase; font-size:16px;}
.bottoms2 {
    bottom: 25px;
    left: 20%;
    position: absolute;
    right: 20%;
    z-index: 9;
}
#changeText {
  color: #fff;
  font-family: helvetica;
  font-size: 50px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  top: -10px;
  width: 100%;
  z-index: 9;
  font-weight: 400;
}

.boxer:hover {
    background-color: rgba(44,164,77,0.9);
    border: 2px solid rgba(44, 166, 77, 0.9);
    color: #fff !important;
}

.boxer:hover i {color:#5BF180;}
.boxer:hover .s2 { border:2px solid #f3f3f3;}

.col-lg-4.full-height {
    height: 420px;
    color: #282828;
    font-family: open sans;
}

.btn-warning { background-color:#F1954C; padding-left:25px; padding-right:25px; font-size:18px; font-family:arial;}

#sample2, #sample3 {display:block;}


/* media queries */

/*@media (max-width: 888px) {
  #box1, #box2 {
  margin-top: 175px;
  }
}
@media (max-width: 429px) {
  #sample1 > div {
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .hexagon h2 {
    padding-top: 0;
  }

}


@media (max-width: 686px) { 
  #sample1.row {
    margin-top: 60px !important;
  }
  .silder1 {display:none;}
} */

@media (max-width: 991px) {
  #menu-front-menu li { border:0; }
  #sample1.row {
    padding-top: 0;
    margin-top:0;
  }
  #box1, #box2, #box3, #box4 {
    margin-bottom: 100px;
    margin-top: 175px;
  }

  .col-lg-3.col-md-3.lastbox {
    margin-bottom: 20px !important;
  }
 
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    height: 380px;
  }

  .logo {
    display: block;
    padding: 5px 0 0;
    position: relative;
  }
  #changeText { font-size:30px;}

}
@media (max-width: 480px) {
    .carousel li {
      margin-right: 0;
    }
    .txMage > img {
      left: 0;
      margin: 0 auto;
    }
    .img-circle.topcircle {
      display: block;
      position: absolute;
      top: -55px;
    }
    .contentPage{font-size:13px !important;}
    .logo {
      float: left !important;
      margin: 8px 0 0 20px !important;
    }
  .navbar-toggle {
    border-radius: 0 !important;
    top: 2px !important;
  }
  
    .silder1, .carousel { height:500px !important;}
    .carousel-caption {
      height: 385px !important;
      top: 95px !important;
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9) !important;
      display: block;
      float: none;
      margin: 0 auto;
      max-width: 360px;
      min-width: 200px;
      position: relative;
      text-align: center;
      width: auto !important;
    }
   
    #changeText {
        font-size: 32px;
        display: block;
        left: auto;
        margin-top: 101px;
        position: relative;
        right: auto;
        text-align: center;
        top: 40px;
        width: 100%;
    }
    .logo > img {
      max-width: 200px;
      min-width: 20px;
    }
    .carousel-caption > h1 {
        font-size: 28px;
        margin: 0 auto;
        padding: 10px 0;
    }
    .carousel-caption {
      background-color: transparent;
      background-image: none !important;
      display: block;
      height: 317px;
      left: auto;
      margin: 0 auto;
      position: relative;
      right: auto;
      top: 40px;
      width: 300px;
    }
    .silder1 {
        background-attachment: scroll !important;
        background-clip: border-box !important;
        background-color: rgba(0, 0, 0, 0) !important;
        background-image: url("http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/05/slides1.jpg") !important;
        background-origin: padding-box !important;
        background-position: right center !important;
        background-repeat: repeat !important;
        background-size: auto auto !important;
    }
    .subtitles {
        padding: 21px 0;
        font-size:18px !important;
        margin-bottom:11px;
    }
    .contents img {
      display: block;
      float: none;
      margin: 0 auto;
      max-width: 100%;
      min-width: 20px;
      padding: 20px;
    }

}

@media (min-width:320px) and (max-width:767px) {
  .firstbox {
      margin-top: 130px !important;
    }
  .entry-header {
    margin-left: 0 !important;
    padding-left: 12px !important;
    margin-top:0 !important;
  }
  .full-width .site-content .has-post-thumbnail .entry-header, .full-width .site-content .hentry.has-post-thumbnail:first-child {
      margin-top: 50px;
  }
  .infograph.bod {
    font-size: 18px !important;
    line-height: 1 !important;
  }
  .carouselGreenText {
    font-size: 20px !important;
    font-weight: 200 !important;
}
}
@media (max-width: 767px) {
  
  .hexagon {
    margin-top:100px
    margin-bottom: 130px;
    width: 100%;
  }
  
  .hexagon h2 {
      padding-top: 120px;
    }

  .carousel li {
      margin-right: 0;
    }
    .txMage > img {
      left: 0;
      margin: 0 auto;
    }
  .bottoms {
    bottom: 10% !important;
  }
  .contents {
    height: 100%;
    text-align: left;
  }
  .contents img {
    float: left;
    margin: 3px 12px 3px 0;
    max-width: 250px;
    min-width: 20px;
  }
  
  .bluish {
    bottom: auto;
    color: #1dc6b4;
    font-size: 15px;
    margin: 20px 0 0;
    padding: 0;
    position: absolute;
    right: 40px;
    background-color:transparent;
    left: auto;
  }
  .bluish:hover { background:transparent; color: #1dc6b4;}
  .div3 h2 {text-align:center;}
  .icon-holder {
    text-align: center;
  }
  .icon-holder {
    text-align: center;
  }
  
  .navbar-toggle {
    top: 45px;
  }
  
  .logo { margin:50px 0 0 20px; float:left;}
  
  .carousel { margin-bottom:0;}
  #menu-front-menu li {
    display: block;
    text-align:left;
  }
  #menu-front-menu li a {
    display: block;
    font-size: 20px;
    width: 100%;
  }
  
  nav.collapse li a, nav.collapsing li a {
    border-bottom: 3px solid transparent;
    color: #3a3a3a !important;
    font-weight: 400;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
    display: block !important;
  }

    #navbar {
        background: none repeat scroll 0 0 #f7f7f7;
    }
  .navbar-wrapper {
    position:absolute;
  }
  
  .carousel .item {
    background-color: #777;
    height: 675px;
  } 
  
  .carousel-caption {
    top: 150px;
  }
   
    nav.collapse li {
        border: medium none;
        border-radius: 0;
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .navbar-toggle {
        background: none repeat scroll 0 0 #6d9629;
        border: 1px solid #6d9629 !important;
    }

    .logo {
        display: block;
        position: relative;
    }
    .logo > h1 {
        display: block;
        letter-spacing: 2.3px;
        margin: 36px 17px;
        position: absolute;
        text-align: left;
        width: 100%;
    }
    .carousel-caption {width: 360px;}

}

@media (min-width:991px) and (max-width:1152px) {
  #changeText { font-size:40px;}
  .buttonicon > i {
    font-size: 45px;
    margin: 0 5px;
    text-decoration: none;
  }

}


@media (min-width:481px) and (max-width:767px) {

    .carousel-caption {height:400px; background: rgba(255,255,255,0.8);}
    #changeText { top:0 !important;}
    .item.active.silder1 {
      background-position: -363px 79px !important;
      background-size: cover;
    }
    .bordered {
      margin-top: 109px !important;
      padding-top: 95px !important;
    }
    .infograph.bod {
      line-height: 1.2 !important;
    }
  .carousel-caption .form-group input { width: 75% !important;}
  .carouselGreenText { font-size: 3.2vw !important; }
  
}

@media (min-width:481px) and (max-width: 1152px) {
    
    .carousel-caption {height:400px; background: rgba(255,255,255,0.8);}

    .carousel-caption h1 {font-size:26px;}
    .subtitles {font-size:20px !important;}
}


/*.theme-background-color { background-color: #0BA695 !important; }
.carousel-caption .contentPage { font-size: 15px; line-height: 1.7 !important; margin: 30px 60px !important; text-shadow: none;}
.flex-direction-nav a { height: 45px; }
.flex-direction-nav a:hover {color: rgba(255, 157, 55, 0.8) !important;}
.flex-direction-nav a:hover::before {color: rgba(255, 157, 55, 0.8) !important;}*/
.fadeIn {opacity:1;}
.carouselGreenText { color: #089f8f; font-size: 1.9vw; font-weight: 200; }
.carouselOrangeText { color: #ff9c36; font-size: 2.1vw; font-weight: 500; letter-spacing: 1.2px; line-height: 1;}
.infograph { color: #606060; font-size: 16px; font-weight: 200;}
.infograph b { font-weight: 400;}
.infograph.bod { font-size: 23px; font-weight: 500; line-height: 2.5;}
.carousel-caption > form { margin: 14px 0 ; }
.carousel-caption .form-group input { border-radius: 7px; font-size: 20px; height: 50px; margin: 0 auto; padding: 7px 20px; width: 50%; text-align:center;}
.black-col {color:#222;}
.btn.btn-warning.black-col { padding: 20px 41px; margin: 5px 0;}
}

/*rotator*/

.rotator{
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
    overflow:hidden;
 }  

 .rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}



@-moz-keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}


@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
  

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}






/* custom css */
body {background:url('http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/06/bgConsultis.png') repeat-x;}

.carousel {height:auto;}

.desktopNav {
  padding: 0 70px;
  position: relative;
  top: -60px;
  width: 100%;
}
.menu.navbar-left a, .menu.navbar-right a { 
  padding: 5px 15px; 
  color: #222;
  font-size: 15px;}

.firstbox {
  margin-top: 250px;
}

.navbar-wrapper {
  position: relative; 
  margin-top:10px;
}

.silder1 {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/06/bannerImage1.png") !important;
    background-origin: padding-box !important;
    background-position: 0 27px !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    width: 100%;
}
.txMage > img {
  width: 188px !important;
  position: relative;
  top: -8px;
  left: 29%;
}

.center {
  color: #fff;
  padding: 10px;
  text-align: center;
}

.modal-title {
  font-size: 25px;
  line-height: 1.42857;
  margin: 14px 0 0;
}

.container-fluid.full-width.bordered {
  margin: 40px 0;
  padding: 40px 0;
}

.modal-content {text-align: center;}
.modalcircle {margin:0 auto; width:172px; height:172px;}

.div3 > h2 {
  margin-bottom: 34px;
}

.modal-dialog.modal-lg {
  top: 20%;
}

.div3 {text-align:left; height:100%;}
.botmargin {margin-bottom:40px;}
.buttonicon { color: #222222 !important; text-decoration:none; font-size:40px;}
.buttonicon:hover {color:#1dc6b4 !important}

.div3 a {
  color: #f17c11;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration:none;
}

.full-width .site-content .hentry.has-post-thumbnail:first-child {
    margin-top: 0;
}

.post-thumbnail {
  display: none;
}
.site-content {margin:0;}
.bluish:hover {
    background-color: #f17c11;
    color: #fff;
}

.site-content article {
  text-align: left;
}

.entry-header {
  display: block;
  max-width: 100% !important;
  text-align: left;
}

.aboutauthor > h3, .recentposter > h3 {
  margin-bottom: 22px;
  margin-top: 25px;
}

.entry-content {
    max-width: 100% !important;
    text-align:left;
}

.div3 a:hover {color:#09a191;}

.div3 > p {
  margin: 0 0 21px;
}

.buttonicon > i {
    font-size: 50px;
    margin: 0 5px;
    text-decoration:none;
}
.bordered {border-top:1px solid #ccc; border-bottom:1px solid #ccc;}

#colophon{background-color:#1dc6b4;}

#sample1.row {
    margin-top: 20px;
    padding-top: 0;
}
.contents {height:550px; text-align:left}
.contents img { margin: 31px 0;}
.bluish {background:#1dc6b4; position:absolute; bottom:0; left:12px; color:#fff;}

#navbar {
    background: none repeat scroll 0 0 rgba(243, 246, 250, 0.50);
    padding-bottom: 5px;
    padding-top: 5px;
}

.carousel .item {
    background-color: #777;
}
.navbar-inverse { background-color: transparent; border-color: transparent; }
nav.collapse li { border-radius: 5px;  margin: 0 13px;  text-align: center; width: 85px;}
nav.collapse li a, nav.collapsing li a{
    border-bottom: 3px solid transparent;
    color: #3a3a3a !important;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    transition: all 0.5s ease 0s;
    white-space: nowrap;
    width: 0;
}

.menu.navbar-left, .menu.navbar-right {
    border-bottom: 3px solid transparent;
    color: #3a3a3a !important;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    transition: all 0.5s ease 0s;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #6d9629 !important;
    color: #fff !important;
}


.btn.btn-lg.btn-primary:hover { background: none repeat scroll 0 0 #e67e22; border: 1px solid #e67e22; }

nav.collapse li a:hover, .menu.navbar-left a:hover, .menu.navbar-right a:hover {
    border-bottom: 3px solid #ff8a17;
    color: #ff8a17 !important;
    text-decoration: none;
    width: 200px;
}
#menu-front-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align:center;
}
#menu-front-menu li{
    display: inline;
    border-right:1px solid;
}

#menu-front-menu li:last-child {
  border:0;
}



.forcedown { margin-top:20px;}
.logo > h1 { display: block; letter-spacing: 2.3px; margin: 0 auto; position: absolute; text-align: center; width: 100%; color: #6d9629; }
.logo > img {
    display: block;
    margin: 0 auto;
    width:270px;
}

.logo > h1 > b { color: #e67e22;}
.carousel-caption {
    left: auto;
    padding-bottom: 30px;
    right: 0;
    top:60px;
    width: 650px;
    height:312px;
    background: transparent;
    opacity:0;
    transition:1s all ease;
    -webkit-transition:1s all ease;
    -o-transition:1s all ease;
    -moz-transition:1s all ease;
    text-shadow:0 0 0 !important;
}

.carousel-caption > h1 {
    color: #14b6a4;
    font-family: open sans;
    font-size: 30px;
    margin-left: 55px;
    margin-right: 55px;
    text-shadow: none;
    line-height: 1.2; 
    margin-top: 6px;
}

.btn-primary {
    background-color: #ff8a17;
    border-color: #ff8a17;
    color: #fff;
    width: 243px;
}

.greentext {
  color: #ff8a17;
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
}
.greentext:hover {color: #f17c11 !important; text-decoration:none;}
.subtitles {
  color: #4e4e4e;
  font-size: 16px !important;
  font-weight: 300;
  line-height: 1.2 !important;
  margin: 12px 48px !important;
  text-shadow: none;
}

.img-circle.topcircle {
    background-position:center center;
    background-image: url('http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/06/transparentC.png');
    background-size:160px;
    border-radius: 50%;
    color: #fff;
    height: 180px;
    left: 50%;
    margin-left:-88px;
    position: absolute;
    top: -90px;
    width: 180px;
    z-index: 9;
    background-color:#fff;
    background-repeat:no-repeat;
}

.row.contain {
    margin-bottom: 60px;
    margin-top: 100px;
}

.hexagon h5 { font-weight:300; font-size:18px;}


.hexagon:hover, .hexagon.hover { background-color: #ff8f1f; color:#fff;}

.bottoms {
    bottom: 56px;
    left: 20%;
    position: absolute;
    right: 20%;
    z-index: 9;
}

.hovering {
    background-color: #ff8f1f !important;
    border-color: #fff !important;
    color: #fff !important;
}
.blacked { color:#282828;}

.bgwhite {
  border:2px solid #E6E6E6 !important;
}

.hexagon {
    background: none repeat scroll 0 0 #f2f2f2;
    height: 475px;
    margin-top: -70px;
    position: relative;
    width: 100%;
    text-align:center;
    padding-left:12px;
    padding-right:12px;

}

.flexslider {background: transparent !important; border:0;}

.thumbers {
    background: transparent;
    height: 350px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    text-align:center;
    padding-left:4px;
    padding-right:4px;
    color:#737373;
}
.conr { height: 175px;}



.full-width { padding-left:0; padding-right:0;}
.img-circle.topcircle i {
    font-size: 50px;
    margin: 38px;
}
.hexagon {color: #282828;}
.hexagon p, .hexagon h2 { font-family:open sans;}
.hexagon h2 { margin-bottom: 20px; padding-top:120px;}

.btn-default {
    background-color: #ff8f1f;
    border-color: #fff;
    color: #fff;
    font-family: arial;
    font-size: 20px;
}

/*second sample*/

#sample2 {
    background-image: url("http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/05/bgSample2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sample2 .row {
    padding-bottom: 80px;
    padding-top: 100px;
}

.img { margin-top:25px;}
.img i {
    color: #2dab4f;
    font-size: 65px;
}

.boxer {
    color: #282828;
    font-family: open sans;
    height: 350px;
    border: 2px dashed #ccc;
    margin: 0 5px;
    padding: 0;
}

.img-circle.topcircle.bigC {
    background-position: 1px center;
    background-size: cover;
    border: medium none;
    display: block;
    height: 200px;
    left: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 0;
    width: 200px;
}

.col-lg-4.full-height {
    color: #282828;
    font-family: open sans;
    height: 420px;
    margin-top: 53px;
}

.s2 {background-color:#2dab4f; border:1px solid #2dab4f; padding-left:25px; padding-right:25px; text-transform:uppercase; font-size:16px;}
.bottoms2 {
    bottom: 25px;
    left: 20%;
    position: absolute;
    right: 20%;
    z-index: 9;
}
#changeText {
  color: #fff;
  font-family: helvetica;
  font-size: 50px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  top: -10px;
  width: 100%;
  z-index: 9;
  font-weight: 400;
}

.boxer:hover {
    background-color: rgba(44,164,77,0.9);
    border: 2px solid rgba(44, 166, 77, 0.9);
    color: #fff !important;
}

.boxer:hover i {color:#5BF180;}
.boxer:hover .s2 { border:2px solid #f3f3f3;}

.col-lg-4.full-height {
    height: 420px;
    color: #282828;
    font-family: open sans;
}

.btn-warning { background-color:#F1954C; padding-left:25px; padding-right:25px; font-size:18px; font-family:arial;}

#sample2, #sample3 {display:block;}


/* media queries */

/*@media (max-width: 888px) {
  #box1, #box2 {
  margin-top: 175px;
  }
}
@media (max-width: 429px) {
  #sample1 > div {
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .hexagon h2 {
    padding-top: 0;
  }

}


@media (max-width: 686px) { 
  #sample1.row {
    margin-top: 60px !important;
  }
  .silder1 {display:none;}
} */

@media (max-width: 991px) {
  #menu-front-menu li { border:0; }
  #sample1.row {
    padding-top: 0;
    margin-top:0;
  }
  #box1, #box2, #box3, #box4 {
    margin-bottom: 100px;
    margin-top: 175px;
  }

  .col-lg-3.col-md-3.lastbox {
    margin-bottom: 20px !important;
  }
 
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    height: 380px;
  }

  .logo {
    display: block;
    padding: 5px 0 0;
    position: relative;
  }
  #changeText { font-size:30px;}

}
@media (max-width: 480px) {
    .carousel li {
      margin-right: 0;
    }
    .txMage > img {
      left: 0;
      margin: 0 auto;
    }
    .img-circle.topcircle {
      display: block;
      position: absolute;
      top: -55px;
    }
    .contentPage{font-size:13px !important;}
    .logo {
      float: left !important;
      margin: 8px 0 0 20px !important;
    }
  .navbar-toggle {
    border-radius: 0 !important;
    top: 2px !important;
  }
  
    .silder1, .carousel { height:500px !important;}
    .carousel-caption {
      height: 385px !important;
      top: 95px !important;
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9) !important;
      display: block;
      float: none;
      margin: 0 auto;
      max-width: 360px;
      min-width: 200px;
      position: relative;
      text-align: center;
      width: auto !important;
    }
   
    #changeText {
        font-size: 32px;
        display: block;
        left: auto;
        margin-top: 101px;
        position: relative;
        right: auto;
        text-align: center;
        top: 40px;
        width: 100%;
    }
    .logo > img {
      max-width: 180px;
      min-width: 20px;
    }
    .carousel-caption > h1 {
        font-size: 28px;
        margin: 0 auto;
        padding: 10px 0;
    }
    .carousel-caption {
      background-color: transparent;
      background-image: none !important;
      display: block;
      height: 317px;
      left: auto;
      margin: 0 auto;
      position: relative;
      right: auto;
      top: 40px;
      width: 300px;
    }
    .silder1 {
      background-attachment: scroll !important;
      background-clip: border-box !important;
      background-color: rgba(0, 0, 0, 0) !important;
      background-image: url("http://consultis.co.uk/template/wordpress/wp-content/uploads/2015/06/bannerImage1.png") !important;
      background-origin: padding-box !important;
      background-position: 1px 40px !important;
      background-repeat: inherit;
    }
    .subtitles {
        padding: 21px 0;
        font-size:18px !important;
        margin-bottom:11px;
    }
    .contents img {
      display: block;
      float: none;
      margin: 0 auto;
      max-width: 100%;
      min-width: 20px;
      padding: 20px;
    }

}

@media (min-width:320px) and (max-width:767px) {
  .firstbox {
      margin-top: 130px !important;
    }
  .entry-header {
    margin-left: 0 !important;
    padding-left: 12px !important;
    margin-top:0 !important;
  }
  .full-width .site-content .has-post-thumbnail .entry-header, .full-width .site-content .hentry.has-post-thumbnail:first-child {
      margin-top: 50px;
  }
  .infograph.bod {
    font-size: 18px !important;
    line-height: 1 !important;
  }
  .carouselGreenText {
    font-size: 20px !important;
    font-weight: 200 !important;
  }
  .carousel-caption .form-group input {
    width: 75% !important;
  }
}
@media (max-width: 767px) {
  
  .hexagon {
    margin-top:100px
    margin-bottom: 130px;
    width: 100%;
  }
  
  .hexagon h2 {
      padding-top: 120px;
    }

  .carousel li {
      margin-right: 0;
    }
    .txMage > img {
      left: 0;
      margin: 0 auto;
    }
  .bottoms {
    bottom: 10% !important;
  }
  .contents {
    height: 100%;
    text-align: left;
  }
  .contents img {
    float: left;
    margin: 3px 12px 3px 0;
    max-width: 250px;
    min-width: 20px;
  }
  
  .bluish {
    bottom: auto;
    color: #1dc6b4;
    font-size: 15px;
    margin: 20px 0 0;
    padding: 0;
    position: absolute;
    right: 40px;
    background-color:transparent;
    left: auto;
  }
  .bluish:hover { background:transparent; color: #1dc6b4;}
  .div3 h2 {text-align:center;}
  .icon-holder {
    text-align: center;
  }
  .icon-holder {
    text-align: center;
  }
  
  .navbar-toggle {
    top: 45px;
  }
  
  .logo { margin:50px 0 0 20px; float:left;}
  
  .carousel { margin-bottom:0;}
  #menu-front-menu li {
    display: block;
    text-align:left;
  }
  #menu-front-menu li a {
    display: block;
    font-size: 20px;
    width: 100%;
  }
  
  nav.collapse li a, nav.collapsing li a {
    border-bottom: 3px solid transparent;
    color: #3a3a3a !important;
    font-weight: 400;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
    display: block !important;
  }

    #navbar {
        background: none repeat scroll 0 0 #f7f7f7;
    }
  .navbar-wrapper {
    position:absolute;
  }
  
  .carousel .item {
    background-color: #777;
    height: 675px;
  } 
  
  .carousel-caption {
    top: 180px;
  }
   
    nav.collapse li {
        border: medium none;
        border-radius: 0;
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .navbar-toggle {
        background: none repeat scroll 0 0 #6d9629;
        border: 1px solid #6d9629 !important;
    }

    .logo {
        display: block;
        position: relative;
    }
    .logo > h1 {
        display: block;
        letter-spacing: 2.3px;
        margin: 36px 17px;
        position: absolute;
        text-align: left;
        width: 100%;
    }
    .carousel-caption {
      width: 420px;
      padding: 12px;
    }

}

@media (min-width:991px) and (max-width:1152px) {
  #changeText { font-size:40px;}
  .buttonicon > i {
    font-size: 45px;
    margin: 0 5px;
    text-decoration: none;
  }

}


@media (min-width:481px) and (max-width:767px) {

    .carousel-caption {height:400px; background: rgba(255,255,255,0.8);}
    #changeText { top:0 !important;}
    .item.active.silder1 {
      background-position: -363px 79px !important;
      background-size: cover;
    }
    .bordered {
      margin-top: 109px !important;
      padding-top: 95px !important;
    }
    .infograph.bod {
      line-height: 1.2 !important;
    }
  .carousel-caption .form-group input { width: 75% !important;}
  .carouselGreenText { font-size: 3.2vw !important; }
  
}

@media (min-width:481px) and (max-width: 1152px) {
    
    .carousel-caption {height:400px; background: rgba(255,255,255,0.8);}

    .carousel-caption h1 {font-size:26px;}
    .subtitles {font-size:20px !important;}
}


/*.theme-background-color { background-color: #0BA695 !important; }
.carousel-caption .contentPage { font-size: 15px; line-height: 1.7 !important; margin: 30px 60px !important; text-shadow: none;}
.flex-direction-nav a { height: 45px; }
.flex-direction-nav a:hover {color: rgba(255, 157, 55, 0.8) !important;}
.flex-direction-nav a:hover::before {color: rgba(255, 157, 55, 0.8) !important;}*/
.fadeIn {opacity:1;}
.carouselGreenText { color: #089f8f; font-size: 1.9vw; font-weight: 200; }
.carouselOrangeText { color: #ff9c36; font-size: 2.1vw; font-weight: 500; letter-spacing: 1.2px; line-height: 1;}
.infograph { color: #606060; font-size: 16px; font-weight: 200;}
.infograph b { font-weight: 400;}
.infograph.bod { font-size: 23px; font-weight: 500; line-height: 2.5;}
.carousel-caption > form { margin: 14px 0 ; }
.carousel-caption .form-group input { border-radius: 7px; font-size: 20px; height: 50px; margin: 0 auto; padding: 7px 20px; width: 50%; text-align:center;}
.black-col {color:#222;}
.btn.btn-warning.black-col { padding: 20px 41px; margin: 5px 0;}
}

/*rotator*/

.rotator{
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
    overflow:hidden;
 }  

 .rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}



@-moz-keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}


@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
  

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}






