/*Globals and Reusables*/
@font-face {
    font-family: 'Museo_700';
    src: url('fonts/museo700regular1.eot');
    src: url('fonts/museo700regular1.eot?#iefix') format('embedded-opentype'),
             url('fonts/museo700regular1.woff') format('woff'),
             url('fonts/museo700regular1.ttf') format('truetype'),
             url('fonts/museo700regular1.svg#museo700regular1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_slab100';
    src: url('fonts/museo_slab_100-webfont.eot');
    src: url('fonts/museo_slab_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_100-webfont.woff') format('woff'),
         url('fonts/museo_slab_100-webfont.ttf') format('truetype'),
         url('fonts/museo_slab_100-webfont.svg#museo_slab100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_slab300';
    src: url('fonts/museo_slab_300-webfont.eot');
    src: url('fonts/museo_slab_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_300-webfont.woff') format('woff'),
         url('fonts/museo_slab_300-webfont.ttf') format('truetype'),
         url('fonts/museo_slab_300-webfont.svg#museo_slab300') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  background: url("images/bg.png") repeat-x scroll 0 top #ffffff;
  font-size: 14px; line-height: 1.3;
  font-family: 'Ubuntu', sans-serif;
  color: #515151;
  transition: background-color 10s ease;
  background-size:4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.question{padding-bottom: 100px;}
body.modal-open {overflow: hidden; }
img{max-width: 100%; height: auto;}
img.pull-left{margin: 0 18px 15px 0;}

.themePurpose {
  color: #fff;
  font-size: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 2px #646868;
  top: 20px;
  width: 100%;
  z-index: 9;
}



/*cookie*/

#cookie-bar > p { margin: 0; }
#cookie-bar.fixed.bottom { bottom: 0; top: auto;}
#cookie-bar.fixed { left: 0; position: fixed; top: 0; width: 100%;}
#cookie-bar { background: #b02115 none repeat scroll 0 0; color: #eeeeee; line-height: 24px; padding: 3px 0; text-align: center; }


#cookie-bar .cb-enable:hover { background: #009900 none repeat scroll 0 0; }
#cookie-bar .cb-enable { background: #007700 none repeat scroll 0 0; }
#cookie-bar a { border-radius: 3px; color: #ffffff; display: inline-block; margin-left: 8px; padding: 0 6px; text-decoration: none;}


/*fonts and typography*/
h1,h2,h3,h4,h5,h6{font-family: 'Ubuntu';}
a{color: #319208;}
a:focus{outline: none;}
.museo100{font-family: museo_slab100;}
.museo300{font-family: museo_slab300;}
.museo700{font-family: Museo_700;}
.ubuntu-300{font-family: 'Ubuntu', sans-serif; font-weight: 300;}
.ubuntu_400{font-family: 'Ubuntu', sans-serif; font-weight: 400;}
.ubuntu-700{font-family: 'Ubuntu', sans-serif; font-weight: 700;}
.border-bottom{border-bottom: 1px solid #565656;}
.upcase {text-transform: uppercase;}

/*containers and grids*/
.container{max-width: 980px; width: auto;}
.box-shad-right{box-shadow: 1px 0 0 #a0a0a0;}

/*margins*/
.m-icon-sm{margin-right: 3px; margin-left:3px; margin-bottom:4px;}

.m-0{margin: 0;}
.mb-0{margin-bottom: 0px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}

/*paddings*/
.plr-0{padding-left: 0; padding-right: 0;}
.plr-10{padding-left: 10px; padding-right: 10px;}
.plr-20{padding-left: 20px; padding-right: 20px;}
.plr-30{padding-left: 30px; padding-right: 30px;}
.plr-40{padding-left: 40px; padding-right: 40px;}
.plr-50{padding-left: 50px; padding-right: 50px;}
.pb-0{padding-bottom: 0px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{padding-bottom: 50px;}
.pt-0{padding-top: 0px;}
.pt-2 {padding-top:2px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pt-50{padding-top: 50px;}

.no-top {padding-top:0;}

.lineheight { line-height: 1.3; font-size: 25px;}

small a { font-size: 14px;}
.banner-content.animated > p { font-size: 3vw; width: 100%; text-shadow:1px 1px 2px #222; }

.digit1 { padding-left: 10px !important; padding-right: 10px !important; }

/*displays and positions*/
.ib,.side-menu, .divider-badge, .close-el, .inner-tab-header h5, .menu li, .circ-icon, .pagination-arrow, .question-choice-letter{display: inline-block; *display: inline; *zoom: 1;}
.center-txt{text-align: center;}
.right-txt{text-align: right;}
.left-txt{text-align: left !important;}
ul.left-txt li a { text-align: left !important; }

/*tables*/
table.s-table tr td{border: 1px solid #E5E5E5; padding: 10px 15px;}
.table-pad .s-table{background: #ffffff;}
.table-pad{padding: 25px 40px; border-radius: 5px;}
.table-pad-gray{background: #E6E6E6;}

/*transitions*/
.fx-norm, .menu-header li{transition: all .25s ease; -webkit-transition: all .25s ease; -o-transition: all .25s ease;}
.fx-slow, .gray-box, .gb-cert, .gb-cert-text, .gb-title, .rect-el, .btn, ul.features-list li a, ul.about-list li a, .hide-show-tools{transition: all .4s ease; -webkit-transition: all .4s ease; -o-transition: all .4s ease}
.animated-show{display: block !important;}

/*video*/
.video-background{position: fixed;top: 0;left: 0;overflow: hidden;width: 100%;height: 100%;z-index: 0;}
.video-background video{min-height: 100%; min-width:100%;}

/*menus and lists*/
.menu{list-style: none; margin: 0; padding: 0;}
.menu li a{color: #7d7d7d; display: block; text-decoration: none !important;}
.socmed .soc-icon-circle{display: block; text-align: right; background: #319208; border-radius: 50%; width: 25px; height: 25px; line-height: 25px; text-align: center; color: #ffffff;}
.socmed li{margin-left: 10px;}
.side-menu { position: fixed; right: -85px; top: 40%; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); z-index: 9999; }
.side-menu .menu > li { margin: 0 -2px; line-height: 1; padding: 2px 0;text-align: center;}
.side-menu .menu li a{padding: 4px 10px; color: #ffffff; background: #319208;}
.side-menu .menu li:last-child a{border: 0;}
.side-menu .menu li:hover a{background: #b02115;}
.menu-spread li a { margin: 0 25px; }
.time-margin { position:absolute;}
.toper-menu.block { bottom: 89px; position: absolute; right: 60px; z-index: 2000;}


/*buttons*/
.btn-box{border-radius: 0;}
.btn-dred{background: #b02115; color:#fff;}
.btn-dred:hover{background: green; color:#fff; border-radius:24px; opacity:1 !important; transition:scale(1.02);}
.btn-dblue{background: #b02115; color: #ffffff;}
.btn-dgreen{background: green; color: #ffffff;}
.btn-dblue:hover, .btn-dblue:focus{background: #b02115; color: #ffffff; border-radius: 24px;}
.btn-dgreen:hover, .btn-dgreen:focus{background: #b02115; color: #ffffff; border-radius: 24px;}
.close-el{text-decoration: none !important; background: #fff; padding: 0 6px 2px; cursor: pointer;}
.close-el:hover{background: #314c98; color: #319208;}
.btn-group .btn-dblue{border-right: 2px solid #319208;}
.btn-group .btn-dblue:last-child{border-right: 0;}
.button-rounded { border-radius: 20px; }
.cube_hover {
display: inline-block;
vertical-align: top;
/*margin-top: 2px;*/
text-align: center;
height: 20px;

-webkit-transition: -webkit-transform .33s;
transition: transform .33s; /* Animate the transform properties */

-webkit-transform-style: preserve-3d;
transform-style: preserve-3d; /* <-NB */
}
.btn-primary { background-color: #319208; border-color: #319208; color: #fff; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background-color: #b02115; border-color: #b02115; color: #fff; }
.upside-down {
  -moz-transform:rotate(-180deg) scaleX(-1); /* Firefox */
  -webkit-transform:rotate(-180deg) scaleX(-1); /* Webkit */
  -ms-transform:rotate(-180deg) scaleX(-1); /* IE */
  -o-transform:rotate(-180deg) scaleX(-1); /* Opera */
  transform:rotate(-180deg) scaleX(-1); /* future */
}
.btn-group .button-box { border-radius: 0; margin: 15px !important; width: 150px; border:0;}
.button-box:hover {background: #b02115; color:#fff;}
.btn.button-arrow { color: #ccc; font-size: 60px; top: -18px; }
.btn.button-arrow:hover span { color: #b02115;}
.btn-bottom { font-size: 18px; min-width: 100px; margin: 20px 10px;}

.thumbtn { color: #fff; font-size: 18px; margin: 0 auto; opacity: 0; }
.heightfix {height: 20px;}
.gray-box.active .thumbtn, .gray-box:hover .thumbtn {opacity:1;}

/* The two faces of the cube */
.origin,.transform {
display: block;
background: none;
height: 20px;
line-height: 20px;
/*padding: 0 4px;*/
}

.bb-item {background:transparent !important;}
 .quespag { padding-bottom: 25px !important; }
 .marg-n35 { margin-left: -35px; margin-right: 15px; }
 .modal-content.contactPad { padding: 50px 5px; }
 .contactPad .contact-socmed { padding: 0 48px; text-align: center; }
/* Position the faces */
.origin {
-webkit-transform: translateZ(10px);
transform: translateZ(10px);
transition: all .6s ease;
-webkit-transition: all .6s ease;
-o-transition: all .6s ease;
}

.cube_hover:hover .origin{
background: #324B95;
}

.transform {
background: #b02115;
color: #ffffff;
-webkit-transform: rotateX(-90deg) translateZ(-10px);
transform: rotateX(-90deg) translateZ(-10px);
}

/* Rotate the cube */
.cube_hover:hover {
-webkit-transform: rotateX(89deg);
transform: rotateX(89deg); /* Text bleed at 90º */
}

/*lables*/
.label-dblue{background: #1b3272;}
.label-dgreen{background: green;}

/*colors*/
.white-col{color: #ffffff;}
.black-col{color: #434343;}
.red-col{color: #b50f1e;}
.blue-col{color: #2b4993;}
.orange-col {color: #F3B43C;}
.dbluegreen-col{color: #002828;}
.sky-col { color: skyblue;}
.violet-col { color: #dc164e;}
.babyblue-col{ color: #0eaef0;}
.lightgreen-col{color:#7db52c;}
.lgreen-col{color:#9dfe74;}
.pink-col{ color:#dc164e;}
.green-col{color: #319208;}
.yellow-col{color: #ffd200;}
.gray-col{color: #a1a1a1;}
.orange-bg {background:#E57D0E; color:#fff;}
.black-bg {background: #000; color:#fff;}
.question-text .red-col .absolute .bottom { border-top: 2px solid #b50f1e; }
.score-red {color: #B02115;}
.score-amber {color: #FF7E00;}
.score-green {color: #319208;}
.score-black {color: #333333;}


/*backgrounds*/
.yellow-bg{background: #d5a324;}
.lgray-bg{background: #e6e6e6;}
.gray-bg{background: #a1a1a1;}
.dblue-bg{background: #344E99;}
.yellow2-bg { background:#ffd200;}
.green-bg { background:#319208;}
.s-pagination .green-bgpage a { background:#4aa3df !important; color:#fff !important;}
.pink-bg{ background:#E939B9 !important;}
.red-bg{ background:#b02115 !important; color:#fff;}
.redx-bg{ background:#d5463a !important; color:#fff;}
.greenx-bg { background: #4bd284 none repeat scroll 0 0; color: #fff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45); }
.score-red-bg {background: #B02115 !important; color: #FFF;}
.score-amber-bg {background: #FF7E00 !important; color: #FFF;}
.score-green-bg {background: #319208 !important; color: #FFF;}
.score-black-bg {background: #333333 !important; color: #FFF;}

/*forms*/
.s-form .form-group{position: relative;}
.s-form .form-control{height: 42px; font-size: 16px; border-radius: 0; border: 1px solid green; border-radius: 3px;}
.s-form textarea.form-control{min-height: 100px;}
.req-field{font-size: 26px; position: absolute; top: 0; left: -5px;}

/*modals*/
/*.s-modal .modal-body{background: url(images/modal-footer.png) no-repeat right bottom; padding: 35px 30px 75px;}*/
.s-modal-pad-sm .modal-body{padding: 20px 30px 75px;}
.modal-body .close{position: absolute; top: 8px; right: 8px; border-radius: 3px; float: none; background: #A1A1A1; display: block; cursor: pointer; line-height: 10px; padding: 4px 5px;}
.success-modal-body{max-width: 440px; margin: 0 auto;}
.modal-header{background: -moz-linear-gradient(top, rgba(41,154,11,1) 0%, rgba(255,255,255,0.08) 96%, rgba(255,255,255,0.04) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,154,11,1)), color-stop(96%,rgba(255,255,255,0.08)), color-stop(100%,rgba(255,255,255,0.04))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(255,255,255,0.08) 96%,rgba(255,255,255,0.04) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(255,255,255,0.08) 96%,rgba(255,255,255,0.04) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(255,255,255,0.08) 96%,rgba(255,255,255,0.04) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(41,154,11,1) 0%,rgba(255,255,255,0.08) 96%,rgba(255,255,255,0.04) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#0affffff',GradientType=0 ); /* IE6-9 */
border-radius: 5px 5px 0 0;}
.modal-header {border-bottom:0;}
.modal-header h3{color: #b50f1e; margin: 0;}
.close { color: #b50f1e;position: absolute;right: 20px;top: 12px; z-index:9;}
.modal-title { text-align: center; }
.buttcenter { display: block; margin: 0 auto; width: 200px; }
span.margin-right{margin-right:9px;}
.modal-body .logo-sm { margin-top: -32px;}
.origins {position: absolute; right: 46px; top: 100px; width: 82%;}
.origins .badger { border-radius: 15px; margin-left: 0; padding: 5px 9px; text-align: center; width: 24px;}
.origins .badger.fa.fa-check.white-col { padding-left: 2px; padding-right: 0; }
.removepad { padding-left: 30px !important; padding-right: 30px !important; margin-top:20px; }
.removepad .fa { height: 24px; margin-left: -17px !important;  margin-right: 2% !important; }
.removepad p { padding-left: 10px; }
.badge.percenter { margin-right: -8px; }
.xplainSmall { font-size: 17px !important; font-weight: 800 !important; margin-top: 5px; }
.frontme { position: relative !important; z-index: 999;}
.modal-footer.choiceYesNo {text-align:center;}
.modal-footer.choiceYesNo a {
  font-size:18px;
  padding-left: 15px;
  padding-right: 15px;
}
.questionPick { font-size: 18px; margin-bottom: 0; margin-top: 12px;  text-align: center; }
#explanation-modal {overflow-y:visible;}
.modal-header.floast { height:40px; background: transparent none repeat scroll 0 0; padding: 0; position: absolute; width: 100%; }
.close.nonehead { color: red; margin: 2px; z-index: 999999;}

/*tooltip*/
.tooltip-inner{border-radius: 0 !important;}
.green-tooltip + .tooltip > .tooltip-inner {background-color: green; }
.tooltip.top .tooltip-arrow {  border-top-color: green;}
.hide-show-clock { margin-right: 2px !important; }
.time-margin a { margin-left: 0 !important; }
.time-margin {padding-top: 1px; }
.pyramidAlign ul.question-menu.under-title { margin: 25px 170px 0; text-align: left; }

/*pagination*/
.s-pagination{margin: 0; vertical-align: middle;}
.s-pagination li{position: relative;}
/*.s-pagination li a{background: #e2e2e2; color: #000000; border-right: 1px solid #c9c9c9; border-left: 1px solid #d3d1d1; padding: 5px 10px;}*/
.s-pagination li a { background: #e2e2e2 none repeat scroll 0 0; border-left: 1px solid #d3d1d1; border-radius: 4px; border-right: 1px solid #c9c9c9; color: #000000; margin: 0 10px; padding: 6px 6px;}
.s-pagination li.current a, .s-pagination li:hover a{background: #d1293a; color: #ffffff; border: 1px solid #d1293a;}
/*.s-pagination li.flagged a{background: #319208; color: #ffffff;}*/
.pagination-arrow{vertical-align: middle; font-size: 40px; margin: 0 20px; cursor: pointer;}
.s-pagination li .pagination-label{position: absolute; bottom: -24px; left: 6px;}
.s-pagination li .pagination-label-correct{color: #2b4993;}
.s-pagination li .pagination-label-wrong{color: #b50f1e;}

/*tabs*/
.inner-tab{border: 1px solid #C2C2C2; border-bottom-width: 2px;}
.inner-tab .inner-tab-header{border-bottom: 1px solid #C2C2C2; padding-left: 15px;}
.inner-tab .inner-tab-header h5{line-height: 35px; margin: 0; color: #319208;}
.inner-tab ul.nav-tabs{border-bottom: 0;}
.inner-tab ul.nav-tabs li{margin-bottom: 0;}
.inner-tab ul.nav-tabs li.active{top: -1px;}
.inner-tab ul.nav-tabs li a{border-radius: 0; color: #319208; border-top: 2px solid transparent; padding: 8px 14px; font-weight: bold;}
.inner-tab ul.nav-tabs li:last-child a{margin-right: -1px;}
.inner-tab ul.nav-tabs li.active a {border-top: 2px solid #b61120; color: #b61120; }
.inner-tab .tab-content{padding: 5px 15px;}

/*accordion*/
.panel-heading { background: #97f0c7 none repeat scroll 0 0 !important;}

/*Header*/
#header { border-bottom: 1px solid #ccc; margin-bottom: 28px; padding: 15px 0 10px;}
body.question #header{display: none;}
body.home #header{border-bottom: 0; margin-bottom: 0;}
#logo{text-align: center;}
.logo-sm{max-width: 180px;}
.header-socmed{position: absolute; top: 0; right: 0; z-index: 10;}
.imgr { width: 150px !important; }

.header-menu{position: relative;}
.menu-header{padding: 0; margin: 52px 0 0;}
.menu-header li:first-child { border: 0 none; }
.menu-header li { border-bottom: 3px solid transparent; border-left: 1px solid #000; }
/*.menu-header li:hover{border-color: #b02115;}*/
.menu-header li a{color: #000000; font-size: 13px;}
.menu-header li:hover a{background: none;}
/*menu-left*/
.menu-header.menu-left{text-align: right;}
.menu-header.menu-left li { padding: 0 5px;}
.menu-header.menu-left li a{padding: 0;}
/*menu-right*/
.menu-header.menu-right{text-align: left;}
.menu-header.menu-right li{padding: 0 5px;}
.menu-header.menu-right li a{padding: 0;}

.res-nav-menu{list-style: none; margin: 0; padding: 0;}
.res-nav-menu li{border-bottom: 1px solid #97f0c7; border-top: 1px solid #97f0c7;}
.res-nav-menu a, .res-nav-toggle{background-color: #319208; cursor: pointer; display: block; color: #ffffff; padding: 12px 18px; font-size: 16px;}

/*banner*/
#banner{overflow: hidden; display: none; /*background: url(images/stone-bg.jpg) no-repeat 0 0; background-size: cover;*/ margin-bottom: 40px;}
body.home #banner{display: block;}
/*.flexslider{border: 0; border-radius: 5px; box-shadow: none; margin: 0 0 30px; margin-bottom: 0;}
.flexslider .flex-viewport{border-radius: 3px;}
.flexslider .slides li{position: relative;}
.flex-direction-nav a:before{display: none;}
.flex-direction-nav a{height: 62px; width: 46px;}
.flexslider .slide-arrow{color: #fff; font-size: 50px;}
.flexslider .slide-arrow:hover{color: #319208;}
.flex-control-nav{bottom: 14px;}*/

.flexslider{border: 0; border-radius: 5px; box-shadow: none; margin: 0 0 30px; margin-bottom: 0;}
.flex-direction-nav a:before{display: none;}
.flex-direction-nav a{height: 62px; width: 46px;}
.flex-direction-nav a {opacity: 1;}
.flex-direction-nav > li > a { font-size: 32px; margin: -38px 0 0; transition: .2s all; color: green;}
.flex-direction-nav > li > a:hover {color:#b02115; transform:scale(1.2);}
.flexslider:hover .flex-prev { left: -50px; }
.flexslider:hover .flex-next { right: -50px; }
.flexslider ul.slides { margin-top: 20px; }
.banner-text {
  color: #fff;
  padding: 35px 30px 60px;
  position: absolute;
  text-align: right;
  top: 20px;
  width: 100%;
  z-index: 10;
}
.banner-content { margin: 0 auto; max-width: 95%; text-align: center; }
.banner-text h3{margin-bottom: 0;}
.banner-text h1{margin-top: 0;}
/*.flex-control-paging li a { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5); box-shadow: 0 0 1px rgba(255, 255, 255, 0.3) inset}
.flex-control-paging li a.flex-active { background: none repeat scroll 0 0 rgba(255, 255, 255, 1); cursor: default;}*/


.letIcon { color: #d5a324; font-size: 35px; left: 28%; position: absolute; top: 16%; width: 40px;}
.quesOne { color: #fff; font-size: 22px; left: 33%; max-width: 400px; opacity: 0; position: absolute; top: 22%; }
.imagebnner { position: absolute; right: 35px; bottom: 9px; width: 22% !important; opacity:0;}
.gridbnner { top: 22%; left: 85px; position: absolute; width: 16% !important;}
.guartee { bottom: 44%; color: #fff; font-size: 27px; position: absolute; right: 22%; text-align: center; width: 50%; text-shadow: 1px 1px 1px #222;}
.trialSol { bottom: 23%; color: #fff; font-size: 18px; letter-spacing: 1.3px; position: absolute; right: 15%; width: 63%; z-index: 9; }
.trialSol i { opacity: 1; top: 13px;}
.trialSol .playBanner:hover i { opacity: 1; }
.trialSol .btn.btn-yellow { color: #222; font-size: 18px; opacity: 0.9; margin: 0 6px; width:27%; }
.trialSol .btn.btn-yellow { opacity: 1; }
.playBanner { font-size: 42px; margin-right: 60px; }
.btn.btn-red.btn-filler { color: #fff; font-size: 15px; }
.btn.btn-yellow.yellow-bg.conc { margin: 0; padding: 7px 1px; }


/*Content*/
.content-row{margin-bottom: 50px; min-height: 330px;}
.content-row > .container{position: relative;}
/*.container.thumb { margin-top: 165px; }*/
body.question .content-row{margin-bottom: 18px;}
.title{font-family: 'Ubuntu', sans-serif; text-align: center; color: #002828; margin-bottom: 18px;}
.title-border{border-bottom: 1px solid #1B3272; margin-bottom: 20px; padding-bottom: 15px;}
.title h2{font-family: 'Ubuntu', sans-serif; margin: 0;}
.title .title-caption{color: #717171;}

/*homepage*/
/*gray box*/
.thumbcard { margin-top: -105px; border-radius:50%;}
.gray-box{background: #97f0c7; border-radius: 4px; cursor: pointer; max-width: 240px; margin: 0 auto; padding: 0 0 30px; text-align: center; font-size: 16px;}
.gray-box:hover, .gray-box.active{background: #319208; color: #ffffff; box-shadow: 0 3px 6px #848484; transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05);}
.gb-badge{position: relative;}
.gb-cert{font-size: 110px; position: absolute; top: 0; left: 50%; margin-left: -55px; color: #797979; min-height: 110px;}
.gray-box:hover .gb-cert, .gray-box.active .gb-cert{color: #ffffff;}
.gb-cert-text{font-size: 22px; line-height: 110px; position: relative; font-weight: bold; color: #b2b2b2;}
.gb-cert-text-lg{font-size: 38px;}
.gb-cert-text-sm{font-size: 20px;}
.gray-box:hover .gb-cert-text, .gray-box.active .gb-cert-text{color: #d54552;}
.gb-title{color: #ffffff; padding: 10px 0; margin:0 10px;}
.gray-box:hover .gb-title, .gray-box.active .gb-title{padding-left: 0; padding-right: 0;}
.gb-title h2{margin: 0; padding-bottom: 10px;}
.gb-title > p { line-height: 1.5; margin: 15px 0 0; }
.gb-content p{margin-bottom: 0; line-height: 1.5;}
.side-menu .menu > li a { border-radius: 6px; margin: 0 5px; padding: 8px; }
.side-menu.block .menu > li:first-child { border-right: 1px solid green; }
.cuber span { width: 100%; padding:8px 0; height:35px; }
.cuber .origin { padding: 0;}


/*goldbox*/
.gold-box{background: #97f0c7; border-radius: 4px; cursor: pointer; max-width: 240px; margin: 0 auto; padding: 0 0 30px; text-align: center; font-size: 16px;}
.gold-box:hover, .gray-box.active{background: #319208; color: #ffffff; box-shadow: 0 3px 6px #848484; transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05);}


/*payment*/
.box-two{max-width: 340px; margin: 0 auto; text-align: center;}
.box-two .bt-title{margin-bottom: 15px;}
.box-two-pad{padding: 0 32px 32px;}
.bt-featured{padding: 6px 30px; border-radius: 6px; margin-bottom: 15px; min-height: 158px;}
.box-two .gb-cert{color: #ffffff;}
.box-two .gb-cert-text{color: #d5a324;}
.bt-bottom{min-height: 40px; line-height: 40px; font-size: 20px;}

/*instructions*/
.rect-el{border-radius: 16px; padding: 20px; line-height: 1.5; color: #002828; margin-bottom: 28px;}
.rect-el-full { border-radius: 16px; color: #002828; line-height: 2; margin-bottom: 28px; padding: 20px 15%; }
.circ-icon{border-radius: 50%; width: 60px; height: 60px; line-height: 60px; text-align: center; color: #e6e6e6; font-size: 32px; margin-right: 10px;}
.circ-icon-lg{width: 85px; height: 85px; line-height: 85px; font-size: 40px;}
.rect-el.lgray-bg {border: 1px solid #ccc;}
.rect-el.lgray-bg:hover{transform: scale(1.05);}
.rect-el-full .fa { font-size: 18px; margin: 6px 8% 0 0; }

/*features*/
ul.features-list li{display: block; margin-bottom: 8px; position: relative;}
ul.features-list li a{ text-align:center; background: #319208; border-radius: 3px; padding: 8px; font-size:12px; border: 2px solid #319208; color: #ffffff; text-decoration: none;}
ul.features-list li:hover a, ul.features-list li.active a { background: none repeat scroll 0 0 #fff; color: #319208;}
.features-icon{width: 20px;}
.features-content{padding-left: 30px; border-left: 1px solid #949a9a;}
.features-img{max-width: 152px;}
.fm-row{position: relative; min-height: 436px; display: none;}
.fm-buttons{position: absolute; bottom: 0; left: 0; width: 100%;}
.fc-content{display: none;}
.text-content > img { float: left; margin-right:13px; width:150px;}
.text-content h2 { margin-bottom: 25px; margin-top:1px;}
.text-content > p { color: #818081; font-size: 14px; margin-bottom: 25px; margin-left:15px; margin-right:15px;}
.inside_list {font-weight:800; margin-bottom:22px;}

/*question*/
ul.question-menu{margin: 47px 0;}
ul.question-menu.under-title { margin: 32px 0 0;}
ul.question-menu li a{font-size: 18px; color: #319208;}
ul.question-menu li:hover a{color: #b50f1e; text-decoration: none;}
ul.question-menu-left{text-align: right;}
ul.question-menu-left li{margin-left: 40px;}
ul.question-menu-right li{margin-right: 42px; vertical-align: top;}
.search-row{display: none;}
.search-box{border: 3px solid green !important; margin: 20px 0;}
.title-margin { margin: 65px 0 0; text-align: center;}
.cter {text-align:center;}
.mini_button .fa { height: 2px; text-align: center; width: 30px; font-size:17px;}
.pagination.s-pagination li span.pagination-label-flag{ bottom: 34px; left: 6px; position: absolute; float:none;}
.pagination-label-flag .fa.fa-flag { color: red; display: none; }
.flagged .pagination-label-flag > .fa.fa-flag {display:block;}
.warner { color: #fff; }
.questionTitle {margin-top:28px !important;}
.question-choice .radio > label { display: block; position: relative; }
.side-left button, .side-left a {
  left: -77px;
  line-height: 1;
  position: fixed;
  top: 37%;
  transform: rotate(-90deg);
  width: 200px;
}
.side-left.widthsm button {
  left: 0;
  width: 40px;
}
.titleFloater { -webkit-transition: 3s all; transition: 1s all; display:none; font-size: 30px; left: 50%; margin-left: -70px; position: absolute; text-align: left; top: -204px; width: 408px; }
.resultsPage .titleFloater { top: -209px; margin-left: -70px; text-align: left;}
.bb-item[style*="display: block"] .titleFloater { display:block; }
.opaque {opacity:0;}
.sideBtn {position:relative;}
.sideBtn .btn { border-radius: 0 10px 10px 0; position: relative;}
.btter {position:absolute; top:80px; right: -50px;}
.sideBtn .btter .btn-result { width: 48px; top: 20px; }
.sideBtn .btter .btn-mark-test {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  border-radius: 10px 10px 0 0;
  right: -45px;
}
.sideBtn .btter .btn-mark-test .m-icon-sm {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.borx {border-left:1px solid #999;}



/*timer*/
.question-timer.timeTo div.first, .question-timer.timeTo div.first+div{background: none; color: #319208; font-weight: 400; border: 0; width: 20px !important; height: 33px !important;}
.question-timer.timeTo div.first{border-right: 0;}
.question-timer.timeTo div.first+div{border-left: 0;}
.question-timer.timeTo ul{width: 100%; /*left: 0 !important;*/}
.question-timer.timeTo div.first+div ul, .question-timer.timeTo div.first+div ul.transition{/*left: -3px !important;*/}
.question-timer.timeTo figcaption{display: none;}
.question-timer.timeTo span{color: #306062; /*margin-left: 3px;*/ font-weight: normal; line-height: 1;}
.timeTo-alert{color: #b50f1e !important;}

.question-title{ border-bottom: 1px solid #999999; padding: 20px 0 8px;}
body.result .question-title{padding-bottom: 30px;}
.question-title h3{margin-bottom: 15px; color: #002828;}
.question-main{margin: 25px 0 15px;}
.question-text{padding: 25px 18px 0 68px; min-height: 300px; font-size: 17px; line-height: 1.7; position: relative; }
.question-label{display: block; width: 51px; height: 50px; line-height: 48px; background: url(images/q.png) no-repeat 0 0; text-align: center; font-size: 18px; position: absolute; top: 0; left: 0;}
.question-text .question-label{margin-top: 15px;}
.question-illustration{text-align: center; max-width: 400px; margin: 0 auto;}
.question-choice{padding-top: 10px;}
.question-choice .radio{padding-left: 0; margin: 0 0 10px 0; position: relative; min-height: 52px; padding-top:20px;}
.question-choice-radio{display: none;}
.question-choice-letter{vertical-align: middle; width: 50px; height: 50px; line-height: 45px; border-radius: 50%; border: 2px solid #B50F1E; font-size: 18px; margin-right: 15px; text-align: center;}
.question-choice .question-choice-letter { left: 0; margin-top: -25px; position: absolute; top: 50%;}
.question-choice-radio:checked + .question-choice-letter, .question-choice .question-choice-letter:hover{background: #B50F1E; color: #ffffff;}
.question-choice-text{font-size: 16px; font-weight: 700;}
.question-choice .question-choice-text{padding: 0 0 0 65px; display:block;}
.choice-stat { display: none; left: -20px; position: absolute; top: 50%; margin-top: -8px;}
.result .choice-stat{display: block;}
.result .hover {background: #b50f1e none repeat scroll 0 0; color: #ffffff;}
.choice-stat-correct{color: #54C934;}
.choice-stat-wrong{color: #B50F1E;}
.hide-show-tools { border-radius:5px; background: none repeat scroll 0 0 #319208; color: #ffffff; font-size: 16px; margin: 2px; padding: 5px 10px;}
.hide-show-tools:hover{background: #b02115; color: #fff; left: 0; cursor: pointer;}

.question-settings{background: #ffffff; border: 1px solid #1B3272; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; z-index: 99999;}
.header-block{background: #319208; color: #ffffff; padding: 7px 0;}
.header-block-title{margin: 0; font-family: 'Ubuntu', sans-serif; font-weight: normal;}
.settings-content .inner-tab{border-bottom: 0;}
/*bookblock*/
#bb-bookblock{width: 960px; min-height: 354px; z-index: 1;}

/*result*/
.result-title{margin-top: 18px;}
.explanation-row{margin-bottom: 10px;}
.explanation-row .question-choice-text{/*display: inline-block; *display: inline; */ zoom: 1;}
.pushup { margin-bottom: 20px; margin-top: -30px; position: absolute; width: 100%; z-index: 9;}
.no-pad { padding: 2px 60px; }
.no-pad div { padding: 0 2px; }
#workspace { background: #eaeaea; border:1px solid green; width: 500px; z-index: 999999; display:none; position:absolute; top:25px; right:30%; border-radius:18px; -webkit-transition: width .5s, height .5s; /* Safari */ transition: width .5s,  height .5s;}
#workspace.fullWorkspace {width:900px; height:500px;}
.mini_button.yellow-bg { color: #222; padding: 10px; background:#f5d657 !important;}
.tools {margin-top: 9px; position: absolute; }
.right_text {text-align: right}
.s_list.right_text > li { display: inline-block; }
.s_list.right_text { margin-bottom: 4px; position: absolute; right: 15px; top: 10px;}
.modal-title.dblue_color.cter { margin: 12px; }
.workspace_container { padding: 0 10px 5px; }
.butworks { display: block; left: 94%; position: absolute; top: 0; width: 20px; z-index: 999999; }
.workspace_text > textarea { border: 1px solid #ccc; height: 250px; width: 100%; resize: none; padding:5px 8px; -webkit-transition: height .5s; /* Safari */ transition: height .5s; }
.btn-small { margin: 0 auto; width: 150px; }
.marked > a { background: blue none repeat scroll 0 0 !important; color: #fff !important;}
.marked > a:hover { background: #ccc none repeat scroll 0 0 !important;}
.float-right {float:right;}
.float-left {float:left;}
.canvasBox { background: rgba(0, 0, 0, 0) url("images/blackboard.jpg") repeat scroll 0 0 / 100% 100%; height: 300px; transition: height 0.5s ease 0s; width: 100%; }
#workspace.fullWorkspace .canvasBox { height:425px; }
#workspace.fullWorkspace .workspace_text > textarea { height:425px; }
.btn.resize { position: absolute; top: 6px; right: 42px; background: transparent; }
#feedback-item-1 > p { font-size: 18px; line-height: 1.6; }
.widthFix .fa.fa-volume-up, .widthFix .fa.fa-volume-off { width: 20px; }
.digit2 {margin-left:2px;}
.time-margin.stopped { margin-top: -3px; }
.question-timer.done {font-size: 23px; letter-spacing: 5px; margin: 0 18px; }
.side-left .expl { top: 30%; }
.side-left .vid { top: 37%; }
.side-left .stnew { top: 44%; }
.side-left .tooltip-arrow { left: -3px !important; }
.button-side button { margin: 2px; width: 40px;}
.wrappers { width: 45px; }
.button-side { position: fixed; top: 30%; width: 250px; }

/*contact*/
.contact-col-pad{padding: 0 50px;}
.contact-col-border{border-right: 1px solid #949a9a;}
.contact-socmed{padding: 0 90px; text-align: center;}
.contact-socmed li{margin: 0 5px;}
.contact-socmed li a{font-size: 53px; line-height: 1;}

/*login*/
.login-socmed{padding: 0;}
.midText { display: inline-flex; text-align: center; width: 71px;  padding: 0 25px; font-size: 20px; }
.divider-badge{position: absolute; top: 34px; right: -6px; background: #ffffff; border-radius: 50%; width: 42px; height: 42px; line-height: 37px; border: 1px solid #c8cbcb; text-align: center; font-weight: bold; font-size: 18px;}
.fb:hover {color: #2E4DA7;}
.twitter:hover {color: #4086cd;}
.googleplus:hover {color: #d6492f;}
.youtube:hover {color: #D9332D;}
.pinteres:hover {color: orange;}
.voidText { position: absolute; margin-top:2px;}
.voidText a { font-weight: 400; }

.socialIconers li a span{color:green;}
/*feedback*/
.feedback-item{display: none;}

/*About us*/
.margined { margin:50px 0;}
.tab-title { font-family: "Ubuntu",sans-serif; margin-bottom: 30px; }
.divAbout { color: #002828; font-family: ubuntu; font-size: 14px; line-height: 2; margin:8px;}
.about-title { color: #515151;font-size: 15px; font-weight: 600; margin: 0 0 25px;}
.about-title.white-col { color: #fff; font-size: 27px; }
.about-title.first { margin-top: 0; }
ul.about-list li{display: block; margin-bottom: 8px; position: relative;}
ul.about-list li a{ text-align:center; background: #fff; border-radius: 3px; padding: 12px 12px; font-size:12px; border: 2px solid #319208; color: #319208; text-decoration: none;}
ul.about-list li:hover a, ul.about-list li.active a { background: none repeat scroll 0 0 #319208; color: #fff;}
.bigI { font-size: 22px; margin: 2px 9px 0 0; }
.bgAbout {background-image: url('images/bgAboutBanner.jpg'); margin: 50px 0 0; padding: 23px;}
.bannerAbout p { color: #555;font-weight: 100; font-size:26px; margin-bottom:0 ;}
.bannerLink { color: #555; font-weight:800;}
.aboutBox {
    height: 100%;
    margin-top: 20px;
    padding: 10px 20px;
}
.aboutBox {
  margin-top: 20px;
  padding: 10px 20px;
  height:380px;
}
.aboutBox > img { display: block; margin: 30px auto; width: 300px;}
.bottom_margin_20 { margin-bottom: 20px; }
.zoomer { position: absolute; width:100%; }

.zoomer div {
  height: 130px;
  left: 100px;
  position: absolute;
  top: -24px;
  transform: scale(1.43);
  width: 242px;
  z-index: 99;
  visibility:hidden;
}

.zoomer .whitee {
  background-color: #fff;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 11%;
  height: 88px !important;
  left: 124px !important;
  margin: 22px;
  width: 124px !important;
  z-index: 1 !important;
  visibility:hidden;
  transition: 0s all;
}

#diagnosisPop {
  background: rgba(0, 0, 0, 0) url("images/diagnosisCycle.png") no-repeat scroll 0 0 / 200px auto;}
#teachPop {
  background: rgba(0, 0, 0, 0) url("images/teachCycle.png") no-repeat scroll 0 0 / 200px auto;}
#bragPop {
  background: rgba(0, 0, 0, 0) url("images/bragCycle.png") no-repeat scroll 0 0 / 200px auto;}
#practicePop {
  background: rgba(0, 0, 0, 0) url("images/practiceCycle.png") no-repeat scroll 0 0 / 200px auto;}

.zoomer .whitee.showlet {visibility: visible; transition: .1s all;}
.zoomer #teachPop.zoomBoom, .zoomer #bragPop.zoomBoom,
.zoomer #diagnosisPop.zoomBoom, .zoomer #practicePop.zoomBoom, .zoomer .whitee.zoomBoom  { transition: 1s all; -moz-transform: scale(1.8); -webkit-transform: scale(1.8); transform: scale(1.8); height:135px;}
.zoomer #teachPop.showlet, .zoomer #bragPop.showlet,
.zoomer #diagnosisPop.showlet, .zoomer #practicePop.showlet {visibility:visible;}




/*thank you*/
body.thanks #header{border-bottom: 0; margin-bottom: 0;}
.thank-you{background: url(images/thank-you-bg.jpg) no-repeat center top; padding: 92px 0; text-align: center; color: #ffffff;}
.thank-you h1{margin: 0 0 30px; font-size: 55px;}
.thank-you p{margin: 0;}

/*Footer*/
body.question .page-bottom{position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999;}
body.question .pre-footer{display: none;}
.pre-footer{ padding: 70px 0; border-top: 1px solid #ccc;}
body.question .pre-footer{border-top: 0; padding: 96px 0;}
body.question .pre-footer .menu{display: none;}
.pre-footer .menu{text-transform: uppercase; font-size: 14px;}
.pre-footer .menu li { border-right: 1px solid #7d7d7d; font-size: 11px; line-height: 1; margin: 0 0 15px; padding: 0 10px; }
.menu.center-txt > li:last-child { border: none; }
#footer{ height:120px; padding: 25px 0 20px; color: #ffffff; text-align: center;
/*background: rgba(242,242,242,0.04);
background: -moz-linear-gradient(top, rgba(242,242,242,0.04) 0%, rgba(250,250,250,0.19) 9%, rgba(252,252,252,0.21) 10%, rgba(255,255,255,0.27) 14%, rgba(128,237,187,0.54) 30%, rgba(128,237,187,1) 58%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,0.04)), color-stop(9%, rgba(250,250,250,0.19)), color-stop(10%, rgba(252,252,252,0.21)), color-stop(14%, rgba(255,255,255,0.27)), color-stop(30%, rgba(128,237,187,0.54)), color-stop(58%, rgba(128,237,187,1)));
background: -webkit-linear-gradient(top, rgba(242,242,242,0.04) 0%, rgba(250,250,250,0.19) 9%, rgba(252,252,252,0.21) 10%, rgba(255,255,255,0.27) 14%, rgba(128,237,187,0.54) 30%, rgba(128,237,187,1) 58%);
background: -o-linear-gradient(top, rgba(242,242,242,0.04) 0%, rgba(250,250,250,0.19) 9%, rgba(252,252,252,0.21) 10%, rgba(255,255,255,0.27) 14%, rgba(128,237,187,0.54) 30%, rgba(128,237,187,1) 58%);
background: -ms-linear-gradient(top, rgba(242,242,242,0.04) 0%, rgba(250,250,250,0.19) 9%, rgba(252,252,252,0.21) 10%, rgba(255,255,255,0.27) 14%, rgba(128,237,187,0.54) 30%, rgba(128,237,187,1) 58%);
background: linear-gradient(to bottom, rgba(242,242,242,0.04) 0%, rgba(250,250,250,0.19) 9%, rgba(252,252,252,0.21) 10%, rgba(255,255,255,0.27) 14%, rgba(128,237,187,0.54) 30%, rgba(128,237,187,1) 58%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#80edbb', GradientType=0 );*/
}
.copyright img { margin-right: 12px; width: 55px;}
.copyright { margin-top: 28px; }
.footer-image { margin-top:22px; background: rgba(0, 0, 0, 0) url("images/numbers-green.png") no-repeat scroll 0 0 / cover; content: ""; display: block; height: 73px; position: absolute; width: 100%; }
#footer .copyright a { display: block; width: 100%; margin-top: -15px; }
/* Dashboard */

.dropdown.btn.dropsbx { padding: 1px 1px 1px 0; }
.navbar-text.noLine {border: 0;}
.dropsbx button { border-radius: 20px; left: -8px; padding: 1px 12px; position: relative; top: 11px;}
.dropsbx .dropdown-menu { left: -8px; top: 36px; min-width: 20px; }
.checkbox1:checked ~ span {font-weight:bold;}
.navbar-text { color: #393939 !important; margin-left:0; margin-right:0;}
.navbar-text span.fa {margin-right:2px; margin-left:7px;}
.navbar-text a { margin:0 7px; }
.push-right { margin-left: 10px !important; margin-right: 9px !important; }
.gridbox:hover { transform:scale(1.05);}
.gridbox, .gridbox:hover {
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(white 2px, transparent 2px),
                  -webkit-linear-gradient(0, white 2px, transparent 2px),
                  -webkit-linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
                  -webkit-linear-gradient(0, rgba(0,0,0,.1) 1px, transparent 1px);
  background-image: -moz-linear-gradient(white 2px, transparent 2px),
                  -moz-linear-gradient(0, white 2px, transparent 2px),
                  -moz-linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
                  -moz-linear-gradient(0, rgba(0,0,0,.1) 1px, transparent 1px);
  background-image: linear-gradient(white -3px, transparent 2px),
                  linear-gradient(90deg, white -3px, transparent 2px),
                  linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
                  linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent -3px);
  -pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px) -1px -1px / 20px,
                 linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent 1px) -1px -1px / 20px,
                 #269;
  behavior: url(/pie/PIE.htc);
}
.thumb-title {font-size: 17px;text-align: center; font-weight: 500; }
.thumb-test-lister { color: #5b5a5b; font-size: 16px; }
.thumb-button { border-radius: 0 0 16px 16px; margin: 20px -21px -43px; width: 124%; font-size:18px;}
.thumb-button-top { border-radius: 16px 16px 0 0; margin-top: -35px; width: 100%; font-size:15px; text-transform: uppercase;}
.thumb-test-lister > b { font-weight: 400; }
.badger {
  background: #B02115;
  border-radius: 10px; color: #fff;
  font-size: 14px;
  margin-left: 45px;
  padding: 2px 4px;
  width: 28px;
}
.navi {margin-bottom:30px;}
.fader {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.fadering {
  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.8s; /* Firefox < 16 */
        -ms-animation: fadein 0.8s; /* Internet Explorer */
         -o-animation: fadein 0.8s; /* Opera < 12.1 */
            animation: fadein 0.8s;
}

.thumb-title.whitebox { width: 100%; margin-bottom:10px; background: #fff none repeat scroll 0 0; border-radius: 6px; color: green; padding: 3px 4px;}
.badger.right { position: absolute; right: 30px; text-align: center; border-radius:12px; width:42px;}
.rect-el:hover .badger.right { margin: 0; position: absolute; right: 15px; text-align: center; border-radius:12px;}
.navlister p { margin-left: 2px; margin-right: 5px;padding-right: 6px;}
.navlister p:not(:last-of-type) { border-right: 1px solid #bebcbc; }
.badger.red-bg { margin: 0; padding: 2px 10px; }
.badger.sticker { margin: 2px; }

.badger.subj-ave {
  margin: 0 auto 5px auto;
  padding: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 23px;
  text-align: center;
}
.badger.subj-ave-flip {
  margin: 0 auto 5px auto;
  padding: 0;
  perspective: 1000px;
  background: none;
}
.badger.subj-ave-flip.flip .flipper {
  transform: rotateY(180deg);
}
.badger.subj-ave-flip, .badger.subj-ave-flip .front, .badger.subj-ave-flip .back {
  width: 46px;
  height: 46px;
}
.badger.subj-ave-flip .front, .badger.subj-ave-flip .back {
  line-height: 46px;
  border-radius: 23px;
  text-align: center;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.badger.subj-ave-flip .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.badger.subj-ave-flip .front {
  /*z-index: 2;*/
  /* for firefox 31 */
  transform: rotateY(0deg);
}
.badger.subj-ave-flip .back {
  transform: rotateY(180deg);
}

.navbar-text .margin-right { margin-right: 8px; }
.navbar-text > a { color: #383838; }
.dater {margin-left:5px;}
.dasbB { padding: 10px 20px 20px; }
#check-topic {
  height: 300px;
  overflow-y: scroll;
  padding-left: 17px;
}
#check-topic .checkbox-row {
  border-bottom:1px solid #e1e1e1;
  padding: 3px 10px 3px 20px;
}
#check-topic .checkbox-row label {
  width: 100%;
  display: block;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}
#check-topic .checkbox-row input[type=checkbox] {
  float: left;
  margin-left: -20px;
}
.takenTest {border-radius: 50%; color: #fff; margin-left: 4px; padding: 2px 6px; }

.rate { display: block; width: 100%;}

.rate .badger { font-size: 27px; margin: 20px 8px 0; padding-left: 15px; padding-right: 10px; text-align: center; top: 8px; width: 200px;}
.rate .title-margin {margin: 2px 0 0; }

.circleCorrect { content: ""; margin-bottom: 1px; padding: 7px 8px !important; width: 29px !important; }
/*pricing*/

.featbadge { width: 175px; }
.strikethrough { color: #000; margin-top: 23px; text-decoration: line-through;}
.bt-featured.yellow-bg.white-col > h2 { line-height: 1.4; margin-bottom: 27px;}
.sec { margin-bottom: 50px;}
.toper-menu .btn.btn-dred { box-shadow: 2px 2px 8px #000; font-size: 29px; opacity:0.9; color:#fff; }
.floatcenter.goldbadge { border-radius: 21px; font-size: 25px; left: 47.8%; padding: 4px 9px 6px; position: absolute; top: 25%; }
.hide {display:none;}



/*Calculator */
.calculator { border:1px solid green; position: absolute; top: 20px; z-index:999; border:0 !important; background: transparent !important; display:none;}
.but { display: block; left: 89%; position: absolute; top: 0; width: 20px; }
.calc_table_inner td { padding: 2px; }
.btn.small { background: none repeat scroll 0 0 #122043; color: #fff; font-size: 21px; padding: 0 7px; }
.calculator table.calc_main_table { background: none repeat scroll 0 0 #e8e7ef; border: none; border-radius: 15px; margin: 0 auto; max-width: 390px; padding: 0; width: 100%;}
.calculator table td.calc_display { background: none repeat scroll 0 0 #319208; border-radius: 15px; padding: 25px; }
.calculator input { background: none repeat scroll 0 0 #e8e8e8; border: 1px solid #adadad; border-radius: 9px; color: #5c5c5c; display: block; font-size: 15px; font-weight: 700; padding: 8px 4px; position: relative; transition: all 0.2s ease 0s; width: 100%; }
.calculator input[name="display"] { background: none repeat scroll 0 0 #d3e3e3; border: 2px solid #b1b1b1; color: #525252; font-size: 20px; padding: 18px; }
.calculator table.calc_table_inner { padding: 0 25px 25px; width: 100%; border-collapse: initial; }
.calculator .calc_yellow input { background: none repeat scroll 0 0 #f5d657; color: #525252; }
.calculator .calc_orange input { background: none repeat scroll 0 0 #b50f1e; color: #ffffff;}
.btn.close.fixclose { background: #b50f1e none repeat scroll 0 0; color: #fff; font-weight: 200; opacity: 1; padding-bottom: 3px; right: 0; text-shadow: 0 0; top: 2px; width: 20px;}
form.calculatorBox { border: 1px solid green; border-radius: 15px; }
#myModalLabel > img { margin: 0 6px 0 -20px; width: 36px; }

/* cookie policy */

.sticky_cookie { background: #f9f9f9 none repeat scroll 0 0; border-top: 1px solid #cccccc; bottom: 0; box-shadow: -4px 0 5px #595959; left: 0; padding: 12px 0; position: fixed; right: 0; z-index: 10;}

.button_green { background: #fff none repeat scroll 0 0; border: 2px solid #319208; border-radius: 3px; color: #319208; font-size: 12px; padding: 12px; text-align: center; text-decoration: none; margin:20px;}

.button_green:hover { background: #319208; color: #fff; }
.container_small { padding: 10px;}

/*icon moon*/

.features_icon { color: #fff; font-size: 24px; margin-left:10px; margin-right: 5px; transition: all 0.2s ease-in-out 0s; vertical-align: middle; }
.features-list li:hover .features_icon {color:#319208;}
.gaugeContent { padding-bottom: 35px; }
.gaugeContainer .rotator { left: 50%; margin-left: -95px; position: absolute; top: 50%; margin-top:-30px; animation: 3s ease 0s normal none infinite swing; -webkit-animation: 3s ease 0s normal none infinite swing; }
.gaugeContainer > img { display: block; margin: 0 auto 40px; }
.gaugeContent > h2 { font-size: 35px; margin: 20px 0 30px;  text-align: center; }
.gaugeContent > p { font-size: 16px; margin: 0 auto; text-align: center; width: 270px; top:-14px; position: relative; }
/*for piechart*/

@import url(//fonts.googleapis.com/css?family=Oswald:400);

.modal-header.whitehead {
  background: #fff none repeat scroll 0 0;
  padding-bottom: 0;
}
.pieContainer {width:100%; height:350px;}
.chart {
  height: 350px;
  left: 50%;
  margin-left: -175px;
  position: absolute;
  width: 350px;
}
.pieTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255,255,255,0.99);
  color: #444;
  font-size: 19px;
  text-shadow: 0 1px 0 #fff;
  text-transform: none;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
  z-index:999999;
  margin-top:-50px;
  display:none;
}
.pieTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(255,255,255,.95);
      line-height: 0;
}
.chart path { cursor: pointer; }

.donut {
  left: 50%;
  margin-left: -44px;
  margin-top: -44px;
  position: absolute;
  top: 50%;
  z-index: 99999;
}

#correctLabelpie {
  color: #fff;
  font-size: 29px;
  left: 36%;
  position: absolute;
  top: 20%;
  opacity:0;
}

#wrongLabelpie {
  color: #fff;
  font-size: 22px;
  left: 30%;
  position: absolute;
  top: 45%;
  opacity:0;
}

#numberTests {
  bottom: 16%;
  color: #fff;
  font-size: 44px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
  margin-left: -15px;
  opacity:0;
}
.pieOrigin p {
  font-size: 18px;
  opacity:0;
}
.pieOrigin i {
  margin-right: 7px;
}
.pieOrigin i.fa-times {
  margin-right: 12px;
}

.absolutext {
  bottom: 20px;
  position: absolute;
  right: 2px;
  text-align: right;
  width: 175px;
  z-index:99999;
}

.imagerNumber {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("images/random-numbers.jpg");
  background-origin: padding-box;
  background-position: 0 0;
  background-size: auto auto;
  height: 92%;
  margin-left: -75px;
  opacity: 0.32;
  position: absolute;
  top: 52px;
  width: 100%;
  z-index: -1;
}

.videoBox { margin: 70px 0 40px; }
.videoBox > iframe { display: block; margin: 0 auto; box-shadow: 0 8px 4px rgba(0, 0, 0, 0.5); }

.remarg { margin-bottom: 0 !important; padding-bottom: 18px !important; }
.imageResize { max-height: 365px; max-width: 980px; }
.zimsec { color: #fff; font-size: 22px; left: 10px; position: absolute; text-shadow: 1px 1px 1px #222; top: 5px; opacity:0.5;}
.gcse { color: #fff; font-size: 22px; right: 10px; position: absolute; text-shadow: 1px 1px 1px #222; top: 5px; opacity:0.5;}
.gcse:hover {opacity:0.9; cursor:pointer;}
.zimsec:hover {opacity:0.9; cursor:pointer;}
.guartee2 { z-index:9; bottom: 38%; color: #fff; font-size: 27px; position: absolute; right: 22%; text-align: center; text-shadow: 1px 1px 1px #222; width: 50%;}
.quesTwo { color: #fff; font-size: 20px; left: 32%; max-width: 400px; opacity: 0; position: absolute; top: 22%; }
.boybnner { bottom: 8px; opacity: 0; position: absolute; right: 0; width: 29% !important;}
.bagbnner { top: 22%; left: 85px; opacity: 0; position: absolute; width: 15% !important;}
.stablow span {color:#00ff5a;}
.curvy div { display: inline; width: 20px; position:relative;}
.envelope { margin-left: -150px !important; margin-top: -150px !important; width: 300px; top: 50%; left: 50%; z-index: 9999;}
.col-md-12.pieContainer > img {position:absolute;}
.question-text .absolute .top {top: -4px; }
.question-text .absolute .bottom {line-height: 1; border-top: 2px solid #70706f; top:-10px; }
.question-illustration > h2 {font-size:98px; padding:30px;}
.upster {top:0; position: relative;}
.question-choice-text .long .bottom, .question-choice-text .short .bottom { border-top: 2px solid #555; }
.fixMoble {margin-top: 7px;}
/*end of pie chart*/

@media (max-width: 480px) {
  .pyramidAlign ul.question-menu.under-title {
      margin: 32px 21px 0;
      text-align: left;
    }
    .invi {font-size: 35px !important; }
    .imgr {padding-top: 30px;}
    .copyright { font-size: 3vw !important; }
    .chart {
      height: 250px;
      left: 50%;
      margin-left: -125px;
      position: absolute;
      top: 30px;
      width: 250px;
    }
    .donut {
      left: 50%;
      margin-left: -23.5px;
      margin-top: -45px;
      position: absolute;
      top: 50%;
      width: 35px;
      z-index: 99999;
    }
    .envelope {
      margin-left: -99px !important;
      margin-top: -120px !important;
      max-width: none !important;
      width: 200px !important;
    }

    #correctLabelpie {
      color: #fff;
      font-size: 21px;
      left: 29%;
      opacity: 0;
      position: absolute;
      top: 25%;
    }

    #wrongLabelpie {
      color: #fff;
      font-size: 15px;
      left: 25%;
      opacity: 0;
      position: absolute;
      top: 41%;
    }
}

@media (max-width: 767px){
    .container.thumb { margin-top:135px;}
    .thumb .col-md-4.col-sm-4 { margin: 5px 0 135px;}
    .thumb .last { margin-bottom: 20px !important;}
    .banner-text {top:0 !important; display:none;}
    .banner-text h1 { font-size: 20px; text-align: center;}
    .bgAbout {background-image: url("images/bgAboutBanner.jpg"); background-repeat: repeat; background-size: cover; }
    #banner {display:none !important;}
    .imageLink { z-index: 9;}
    .imageLink:hover {
      opacity: 0.97;
    }
    .imageLink:hover ~ #blank {
      opacity: 0.97;
    }
    #still { z-index: 8;}
    .imageLink, #still {
      display: block;
      right: 10px;
      margin-left: 44px !important;
      max-width: 187px !important;
      opacity: 0.6;
      width: 100%;
    }
    #diagnosis, #brag, #prac, #teach {
      font-size: 3.4vw;
      position: relative;
      z-index: -1;
    }
    .dropdown.btn.dropsbx { left: 143px; padding: 1px 1px 1px 0; top: -59px; }
}
@media (min-width: 363px) and (max-width: 767px) { .btn-group.navbar-right.fixMoble { left: -48px; top: -11px; }}
@media (max-width: 362px){ .btn-group.navbar-right.fixMoble { left: 0; top: -22px; }}
@media (min-width: 480px) and (max-width: 767px) {  #diagnosis, #brag, #prac, #teach {font-size:3.4vw;}}
@media (min-width: 768px) and (max-width: 991px){
    #banner {margin-bottom:85px !important;}
    .animated.choicesBanner {width: 25% !important; }
    #diagnosis, #brag, #prac, #teach {font-size:1.55vw;}
}
@media (max-width: 991px){
    .mb-10, .mb-20, .mb-30, .mb-40, .mb-50, .mb-60, .mb-70, .mb-80, .mb-90, .mb-100{margin-bottom: 15px;}
    .header-socmed { top: 0px !important;}
    .mob-mb-10{margin-bottom: 10px;}
    .mob-mb-20{margin-bottom: 20px;}
    .mob-mb-30{margin-bottom: 30px;}
    .mob-mb-40{margin-bottom: 40px;}
    .mob-mb-50{margin-bottom: 50px;}
    .guartee, .guartee2 { font-size:2.7vw;}
    .trialSol .btn.btn-yellow { font-size: 1.5vw;}
    .quesOne, .quesTwo {font-size: 2vw !important;}
    .fraction {font-size:2vw !important;}
    .animated.choicesBanner { font-size: 2vw !important;}
    .thumb-button {
      border-radius: 0 0;
      font-size: 18px;
      margin: -33px 0 -43px;
      width: 100%;
    }
    .row.pushup.no-pad {
      opacity: 0.8;
      /*
      height: 22px;

      padding: 0;
      position: fixed;
      right: -26px;
      top: 74px;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      z-index: 9;*/
    }
    .side-left button, .side-left a {
      font-size: 18px;
      left: -42px;
      line-height: 1;
      position: fixed;
      top: 40%;
      transform: rotate(-90deg);
      width: 118px;
    }

    .resultpad {
      transform: rotate(0deg) !important;
      -webkit-transform: rotate(0deg) !important;
      right: 13px !important;
      width: 104px;
      top: 2px !important;
    }

    .resultpad > div { margin: 2px 0;}
    .resultpad button, .resultpad a {font-size: 14px; width: 100px; }

    /*header*/
    #header{padding-bottom: 0; margin-bottom: 0; border-bottom: 0;}
    #logo{max-width: 320px; margin: 0 auto 15px;}
    .res-nav{margin-bottom: 30px;}
    body.home .res-nav{margin-bottom: 0;}

    /*content*/
    /*question*/
    ul.question-menu{margin: 10px 0; text-align: center;}
    ul.question-menu li{margin: 0 8px;}
    .s-pagination li{margin: 0 5px; display: inline-block;}
    .s-pagination li a{width: 55px; border-radius: 3px !important;}
    .question-text{padding: 0 0 20px 0; margin-bottom: 20px; border-right: 0; border-bottom: 1px solid #000000;}
    .question-label{position: static; float: left; margin-right: 15px;}
    .question-choice{padding-bottom: 100px;}
    /*features*/
    .features-content{border: 0; padding-left: 0;}
    /*contact*/
    .contact-col-pad, .contact-socmed{padding: 0;}
    .contact-col-border{border: 0;}
    .result .pagination-label span.fa { top: -53px; position: absolute; left: -5px; }
     .aboutBox > p { margin-bottom: 27px;}
    #brag p { margin-bottom: 8px; font-size:17px; }
    .bragster { margin-bottom:2px;}
}
@media (min-width: 992px){
  .cus-md-head-1{width: 37.5%;}
    .cus-md-head-2{width: 25%;}
}

.animated2 { animation-duration: 1s; animation-fill-mode: both; }

/* Preloader */
#preloader {position:fixed; top:0; left:0; right:0; bottom:0; background:#ffffff url("images/bg.png") repeat-x scroll 0 top / 4px auto; z-index:999999; }
#status { background-image: url("images/logo2r.gif"); background-position: center center; background-repeat: no-repeat; background-size: 230px auto; height: 200px; left: 50%; margin: -150px 0 0 -100px; position: absolute; text-align: center; top: 50%; width: 200px; }

/*fraction*/

.fraction, .top, .bottom { padding: 0 5px; }

.fraction { display: inline-block; text-align: center; font-size:18px; position:relative; margin: 13px 8px;}
.fraction .bottom{ border-top: 2px solid #00ff5a; display: block; position: relative; top: 1px; }
.fraction .top { position: relative; top: 2px;}
.absolute { position: absolute; }
.fraction .absolute { left: -5px; position: absolute; top: -20px; z-index:1;}
.invi { opacity: 0; position: absolute; font-size: 4vw; z-index:99;}
.invi:hover {cursor:pointer;}
.imageLink { margin: 0 auto; max-width: 400px; position: absolute; transition:1s all ease-in-out;}
.invi.brag { bottom: 40%; transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
.invi.teach { right: -17px;top: 34%; transform: rotate(90deg); -webkit-transform: rotate(90deg);}
.invi.prac { bottom: -11px; right: 34%; transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.invi.diag { left: 32%; }
.animated.choicesBanner { margin-top:5px; font-size:22px; color: #fff; left: 5%; margin-left: 10px; position: absolute; top: 20%; width: 20%; }
.choicesBanner p { margin-bottom: 12px;}
.choice { border: 2px solid #00ff5a; border-radius: 50%; padding: 2px 7px; margin-right:14px; }
.choice.sp {margin-right:2px; color:#fff;}
.long.fraction {width:76px;}
.short.fraction { width: 26px; }
.long .bottom, .short .bottom { border-top: 2px solid #fff; }
.theme-background-color {  background: green none repeat scroll 0 0 !important; }
.show{display:block;}
.absolute {position: absolute; z-index:-9;}
.behind {position:relative; z-index:1;}
#blank { position: relative; z-index: 1; }
.heightLimiter { height: 450px;}
.imagefull {width:100%;}
.page-bottom { bottom: 0; position: relative; }
.coming-soon-badge {
  width: 170px;
  height: 170px;
  margin-top: 75px;
  position: absolute;
  background-image: url('images/coming_soon_badge.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px;
  z-index: 1;
}
#piechart-preloader {
  width: 150px;
  left: 50%;
  margin-left: -75px;
  top: 50%;
  margin-top: -75px;
}
.flex-viewport {
  padding-top: 50px;
}
.labelForm {
  color: #666;
  display: block;
  font-size: 16px;
  height: 45px;
  line-height: 3;
}
.school-frame-box {
  padding: 0;
  margin-top: 50px;
  border: 0 !important;
  position: relative;
  cursor: pointer;
}
.school-frame-box .content {
  padding: 20px;
  text-align: justify;
  min-height: 250px;
}
.school-frame-box .action-link a:link,
.school-frame-box .action-link a:hover,
.school-frame-box .action-link a:visited,
.school-frame-box .action-link a:focus {
  color: #319208;
  font-weight: bold;
}
.school-modal .modal-content {
  border-radius: 17px;
}.school-modal .modal-header {
  background: #319208;
  padding: 10px;
  border-radius: 15px 15px 0 0;
}
.school-modal .modal-header h4 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.school-modal .modal-header .close {
  opacity: 0.45;
}
.school-modal .modal-body {
  padding: 10px 20px;
}
.school-modal .modal-dialog {
  width: 700px;
}
.school-modal .modal-dialog.large {
  width: 900px;
}
.school-modal .tab-content {
  padding: 10px 0 0 0;
}
.school-modal .tab-content .tab-pane:nth-child(1) {
  font-size: 11px;
}
.school-modal .tab-content table th,
.school-modal .tab-content table td {
  padding: 6px;
}
.school-modal span.error-message,
.school-signup span.error-message {
  display: block;
  padding: 5px 0;
  color: #c10000;
}
.school-modal .field-container {
  display: table;
  width: 100%;
  margin: 3px 0;
}
.school-modal .label-container,
.school-modal .input-container {
  display: inline-block;
  float: left;
}
.school-modal .label-container {
  width: 40%;
  font-size: 13px;
}
.school-modal .label-container > span {
  display: block;
  margin-top: 5px;
}
span.required {
  color: #c10000;
  font-weight: bold;
}
.school-modal .label-container span.required {
  padding-right: 5px;
}
.school-modal .input-container {
  width: 60%;
}
.school-modal .input-container input[type="text"],
.school-modal .input-container input[type="number"],
.school-modal .input-container input[type="password"] {
  width: 100%;
  font-size: 13px;
  padding: 4px;
  border: 1px solid #7d7e7d;
  border-radius: 5px;
}
.school-modal .input-container input[type="text"].error,
.school-modal .input-container input[type="number"].error,
.school-modal .input-container input[type="password"].error,
.school-modal .input-container .chosen-single.error,
.school-modal .input-container .chosen-choices.error,
.school-modal .input-container .chosen-drop.error,
.school-signup input[type="text"].error,
.school-signup input[type="number"].error,
.school-signup input[type="password"].error {
  border: 1px solid #c10000;
}
.school-modal .form-footer {
  text-align: center;
  border-radius: 0 0 15px 15px;
  padding: 15px 0 5px 0;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #ddd;
}
.school-modal .form-footer .btn {
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 5px;
}
.school-modal .form-footer .btn[disabled] {
  cursor: not-allowed;
  opacity: .65;
}
.school-modal .error-message .invisible,
.school-signup .error-message .invisible {
  visibility: hidden;
}
.school-modal img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
.school-modal .nav-tabs li:nth-child(2) a {
  white-space: nowrap;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.school-modal #list_subject_chosen {
  margin: 10px 0;
}
.school-modal span.ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.school-modal span.ellipsis.teacher {
  width: 170px;
}
.school-modal span.active {
  color: #319208;
}
.school-modal span.inactive {
  color: #C10000;
}
.school-modal th.rotate-vertical {
  white-space: nowrap;
  width: 30px;
  padding-right: 0 !important;
  padding-bottom: 20px;
}
.school-modal th.rotate-vertical > div {
  height: 140px;
  width: 30px;
}
.school-modal th.rotate-vertical > div > div {
  -webkit-transform: translate(0, 55px) rotate(270deg);
      -ms-transform: translate(0, 55px) rotate(270deg);
          transform: translate(0, 55px) rotate(270deg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  margin-left: -55px;
}
.school-modal th.rotate-vertical:after {
  background-position: bottom center;
  width: 30px;
  left: 18px;
}
.school-signup input[required]:focus + label[placeholder]:before {
  color: green;
}
.school-signup input[required]:focus + label[placeholder]:before,
.school-signup input[required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
      -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}
.school-signup input[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
.school-signup input[required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: -30px;
}
.school-signup input[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + -3px);
  padding: 0 2px;
  color: rgba(0, 128, 0, 0.7);
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.school-name-nav {
  margin-top: 11px;
  margin-bottom: 0;
}
.school-name-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
  font-size: 20px;
  color: #319208;
}
.school-container .flex-viewport {
  padding-top: 0;
}
.school-container .rect-el.lgray-bg {
  min-height: 250px;
}
.school-teacher-box {
  margin-bottom: 20px;
}
.school-teacher-box .rect-el.lgray-bg {
  margin-bottom: 0;
  padding: 20px 10px;
}
.school-teacher-box .rect-el.lgray-bg:hover {
  transform: none;
}
.school-teacher-box .thumb-button {
  margin: 0;
  margin-top: -15px;
  width: 100%;
}
.school-teacher-box .thumb-container .thumb-name {
  font-size: 12px;
}
.school-teacher-box .thumb-container .school-badger {
  width: 42px;
  border-radius: 12px;
  display: block;
  color: #fff;
  padding: 2px 4px;
}
.school-student-data-percentage-td {
  font-size: 12px;
}
.school-account-test-details {
  display: block;
  font-size: 20px;
  color: #FF2F2F;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes scale {
    from { transition: scale(1.43); }
    to   { transition: scale(1.8); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scale {
    from { transition: scale(1.43); }
    to   { transition: scale(1.8); }
}

/* Internet Explorer */
@-ms-keyframes scale {
    from { transition: scale(1.43) }
    to   { transition: scale(1.8); }
}

/* Opera < 12.1 */
@-o-keyframes scale {
    from { transition: scale(1.43) }
    to   { transition: scale(1.8); }
}

@keyframes fadein {
    from { transition: scale(1.43) }
    to   { transition: scale(1.8); }
}

/*rotation*/



@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-moz-keyframes swing {
 0% {
   -webkit-transform: rotate(-17deg);
   transform: rotate(-17deg);
 }
50% {
   -webkit-transform: rotate(162deg);
   transform: rotate(162deg);
 }
 100%{
   -webkit-transform: rotate(-17deg);
   transform: rotate(-17deg);
 }
}

@keyframes swing {
 0% {
   -webkit-transform: rotate(-17deg);
   transform: rotate(-17deg);
}
50% {
   -webkit-transform: rotate(162deg);
   transform: rotate(162deg);
 }
 100% {
   -webkit-transform: rotate(-17deg);
   transform: rotate(-17deg);
 }

@-webkit-keyframes swing {
 0% {
   -webkit-transform: rotate(-17deg);
   transform: rotate(-17deg);
}
50% {
   -webkit-transform: rotate(162deg);
   transform: rotate(162deg);
 }
 100% {
   -webkit-transform: rotate(-17deg);
   transform: rotate(-17deg;
 }
}


.fa.fa-chevron-down { color: green; display: block; font-size: 30px; left: 50%; margin-left: -44px; position: relative; }
.bigsize { font-size: 24px; }
